<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="8" size-lg="6">
      <ion-card class="ion-card-global ion-no-margin">
        <ion-card-header>
          <ion-card-title> Nutrition Counseling </ion-card-title>
          <ion-card-subtitle>Helathy Food Can be Good Too</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            Having a properly designed nutritional plan is as important as a member's exercise program. Comprehensive
            dietary analysis, metabolic testing and nutritional counseling are all part of the Expert Fitness training
            system. These services are available as a whole or independently through our registered dietitian. Setup an
            appointment today to get started!
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
