<ion-content class="content ion-margin-top">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-self-stretch ion-padding-vertical " style="width: 100%; height: 100%;">
      <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="6" size-xl="6" class=" main-column">
        <ion-card class="ion-no-margin ion-card-global ion-text-center" >
          <ion-card-header>
            <ion-card-title>FAQs </ion-card-title>
            <ion-card-subtitle> Answers to common questions </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="content">
            <ion-list
              class="accordion-list"
              lines="none"
              *ngFor="let faq of faqs; let i= index"

            >
              <ion-item button detail="false" class="summary-item" (click)="toggleSection(i)" >
                <ion-icon slot="start" color="success" size="large" name="add-sharp" *ngIf="!faq.open"></ion-icon>
                <ion-icon
                  class="negative-icon"
                  slot="start"
                  size="large"
                  name="remove-sharp"
                  *ngIf="faq.open"
                ></ion-icon>
                <ion-text class="faq-title"> {{ faq.title }} </ion-text>
              </ion-item>
              <ion-item   *ngIf="faq.open"  class="detail-item">
                <p class="detail-text ion-text-left">{{ faq.info }}</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
