
.shayke{
    height: fit-content;
    width: fit-content;
    // display:block;
    box-shadow: 0 0 0 1rem var(--ion-color-primary-tint);
    border-radius: 15px;
}

ion-toolbar{
    --background: var(--ion-color-dark-tint);
    border-bottom: 3px solid var(--ion-color-secondary-shade);
    color:var(--ion-color-tertiary-tint);
  }
div>p{
    text-align: left;
}
