
.shayke{
    margin:auto;
    display:block;
    box-shadow: 0 0 .5rem rgb(255, 255, 255);
    border-radius: 10px;
}

// ion-toolbar{
//     --background: var(--ion-color-dark-tint);
//     border-bottom: 3px solid var(--ion-color-secondary-shade);
//     color:var(--ion-color-tertiary-tint);
//   }

// div>p{
//     text-align: left;
// }
