

<ion-content fullscreen color="medium">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              <h4>The Expert Fitness CEO</h4>
            </ion-card-title>
            <ion-card-subtitle>
                Shay Gillham
            </ion-card-subtitle>
          </ion-card-header>
          <img src="../../../assets/images/Shay-small-pic.jpg">
          <ion-card-content>

            <p>
              Shay opened Expert Fitness to facilitate his vision of providing fitness minded individuals with
              top notch training guideance in a clean environment, and guidance in creating fitness plan with which
              clients can facilitate healthy fitness focused habits wherever they may be, outside of their time spent at
              the gym or with a trainer. which could be achieved by incorporating a fitness professional in order to
              gain a premium experience. Upon completion of his education attaining a B.S. Exercise Science at university, Shay put his education to work. Combining his experiences gained while working at a couple of mid-size to large gyms with his unique experiences gained while working at a local hospital on the Critical Care Unit, Shay brings together a solid foundation and wealth of knowledge from which to facilitate guidance in planning and achieving fitness goals. By utilizing the latest in fitness technologies, heart healthy counseling, and modern no-nonsense nutrition concepts, Shay has made a highly successful business of delivering results to his clients. The gym remains focused on providing clients with a core set of values which include
              consistency, balance, and motivation while providing access to many of the latest, best in class analysis
              tools, and modern workout equipment & techniques. Shay also has a no-nonsense attitude but that does
              not mean he doesn't have fun. In fact, he continues to be open minded, while staying results-driven at
              all times. The Expert Fitness gym is always clean, sanitized, and ready as soon as you walk in the door. You will be hard pressed to find an equally qualified trainer along with
              a premier workout facility at such a fair price anywhere. Whether you are interested in shedding the
              pounds or even maximizing your existing effort, Shat at EXPERT FITNESS offers a myriad of fitness options
              at great prices in a friendly can do atmosphere.
            </p>
            <p>
              At Expert Fitness our training team is comprised of true career trainers.
              Requirements include an extensive formal education, a nationally
              recognized personal training certification and advanced specialty
              education in the areas of "Scientific Core Conditioning" taught by spine
              rehabilitation specialist Paul Chek and "Optimal Performance Training"
              from the National Academy of Sports Medicine
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              <h4>PROFESSIONAL FITNESS TRAINING</h4>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <p>
              The Expert Fitness gym is always clean, sanitized, and ready as soon as you walk in the door. You will be hard pressed to find an equally qualified trainer along with
              a premier workout facility at such a fair price anywhere. Whether you are interested in shedding the
              pounds or even maximizing your fitness potential, Expert Fitness has the expertise, equipment, and tools necessary to achieve most any goal with a myriad of fitness options to choose from. The expertise and results you can achieve at Expert Fitness are hands down some of the best available today, offered to you at no-nonsense prices provided by a motivational staff in a clean, sanitized & welcoming atmosphere.
            </p>
            <p>
              At Expert Fitness our training team is comprised of true career trainers.
              Requirements include:</p>
              <h4>
              Extensive experience or formal education in exercise science
              </h4>
              <h4>
              A nationally recognized personal training certification
              </h4>
              <h4>
              Scientific Core Conditioning - Paul Chek, spine rehabilitation specialist
              </h4>
              <h4>
              Optimal Performance Training - National Academy of Sports Medicine
              </h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              <h4>NUTRITIONAL COUNSELING</h4>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <p>
              Having a properly designed nutritional plan is as important as a member's
              exercise program. Comprehensive dietary analysis, metabolic testing and
              nutritional counseling are all part of the Expert Fitness training system.
              These services are available as a whole or independently through our
              registered dietitian. Setup an appointment today to get started!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              <h4>BACK PAIN PREVENTION AND POST REHAB EXERCISE PROGRAMING</h4>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <p>
              If you have ever suffered or is currently expiriencing back pain, you may
              have a postural problem. Our fitness professionals understand the
              functional anatomy of the torso and extremities as they relate to improved
              spinal health. Our fitness professionals are trained in using proper
              exercise technique, proper exercise selection and recognizing the need for
              exercise modification for orthopedic concerns. Effective assessment
              techniques are used for effective program developement. Click here to read
              on exercise and spinal health.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">

        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              <h3>ONLINE PERSONAL TRAINING</h3>
            </ion-card-title>
          </ion-card-header>

          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-card class="ion-sub-card-global">
                <ion-card-header>
                  <ion-card-title>
                    <h4>Basic Online Personal Training Plan</h4>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>
                    You can now have your own virtual personal trainer and the guidance and
                    accountability you need without being out HUNDREDS of dollars. We provide
                    you with our unique software which we use to build your custom workouts,
                    nutrition plan, and community for ongoing support. • Online Training
                    Platform • Getting Started Right Webinar. When you
                    want to take advantage of one on one time at our personal training facility with a
                    trainer, sessions are offered at a discounted rate.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-card class="ion-sub-card-global">
                <ion-card-header>
                  <ion-card-title>
                    <h4>Premium Online Personal Training Plan</h4>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>

                  <p>
                    This Premium online training plan will provide you with our • Online Training
                    Platform- Getting Started Right Webinar; you will also receive: • Weekly
                    education webinars covering topics from goals setting, maximizing
                    metabolism, supercharging your weight loss and more. • In addition you get
                    our worksheets with each lesson which will help you apply the information
                    faster, maximizing your results. When you
                    want to take advantage of one on one time at our personal training facility with a
                    trainer, sessions are offered at a discounted rate.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <ion-card class="ion-sub-card-global">
                <ion-card-header>
                  <ion-card-title>
                    <h3>Platinum Online Personal Training Plan</h3>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>
                    Yet one more expansion providing you with the ultimate accountability and
                    guidance without being out of pocket HUNDREDS of dollars. The Platinum online
                    training plan will provide you with our • Online Training Platform •
                    Getting Started Right Webinar • Weekly education webinars covering topics
                    from goals setting, maximizing metabolism, supercharging your weight loss
                    and more. • In addition you get our worksheets with each lesson which will
                    help you apply the information faster, maximizing your results. • With the
                    enhanced program, each week after updating the online progress reports your assigned
                    trainer will review your progress and then contact you to provide a weekly progress
                    consultation and answer any questions. When you
                    want to take advantage of one on one time at our personal training facility with a
                    trainer, sessions are offered at a discounted rate.
                  </p>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>

  </ion-grid>
</ion-content>