<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen transparent>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card color="medium">
          <ion-card-header >
            <ion-card-title > 
              <ion-text color="primary" style="font-weight: 700;font-size: larger;">
                The Expert Fitness CEO 
              </ion-text>
            </ion-card-title>
            <ion-card-subtitle >
              <ion-text color="warning" style="font-weight: 700;font-size: larger;">
                Shay Gillham
              </ion-text>
               </ion-card-subtitle>
          </ion-card-header>
          <img class="shayke" src="../../../assets/images/Shay-small-pic.jpg" />
          <ion-card-content>
            <p>
              Shay opened Expert Fitness to facilitate his vision of providing fitness and nutrition minded individuals
              with top notch training guideance in a clean environment, and guidance in creating fitness plan with which
              clients canfacilitate healthy fitness focused habits wherever they may be, outside of their time spent at
              the gym or with a trainer. which could be achieved by incorporating a fitness professional in order to
              gain a premium experience. Upon completion of his education attaining a B.S. Exercise Science at
              university, Shay put his education to work. Combining his experiences gained while working at a couple of
              mid-size to large gyms with his unique experiences gained while working at a local hospital on the
              Critical Care Unit, Shay brings together a solid foundation and wealth of knowledge from which to
              facilitate guidance in planning and achieving fitness goals. By utilizing the latest in fitness
              technologies, heart healthy counseling, and modern no-nonsense nutrition concepts, Shay has made a highly
              successful business of delivering results to his clients. The gym remains focused on providing clients
              with a core set of values which include consistency, balance, and motivation while providing access to
              many of the latest, best in class analysis tools, and modern workout equipment & techniques. Shay also has
              a no-nonsense attitude but that does not mean he doesn't have fun. In fact, he continues to be open
              minded, while staying results-driven at all times. The Expert Fitness gym is always clean, sanitized, and
              ready as soon as you walk in the door. You will be hard pressed to find an equally qualified trainer along
              with a premier workout facility at such a fair price anywhere. Whether you are interested in shedding the
              pounds or even maximizing your existing effort, EXPERT FITNESS offers a myriad of fitness options at great
              prices available at our friendly can do atmosphere facility or in the convenience of your own home.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title> Training Sessions & Training Plans </ion-card-title>
            <ion-card-subtitle>Private, Semi-private & Home </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              The Expert Fitness gym is always clean, sanitized, and ready as soon as you walk in the door. You will be
              hard pressed to find an equally qualified trainer along with a premier workout facility at such a fair
              price anywhere. Whether you are interested in shedding the pounds or even maximizing your fitness
              potential, Expert Fitness has the expertise, equipment, and tools necessary to achieve most any goal with
              a myriad of fitness options to choose from. The expertise and results you can achieve at Expert Fitness
              are hands down some of the best available today, offered to you at no-nonsense prices provided by a
              motivational staff in a clean, sanitized & welcoming atmosphere.
            </p>
            <p>
              Our team of professional personal trainers is comprised of fitness & nutritional focused career trainers.
            </p>
            <b>Requirements include:</b>
            <p>Formal education in exercise science <b>(or)</b> commensurate experience</p>
            <p>Nationally recognized personal training certification</p>
            <p>Scientific Core Conditioning - Paul Chek, spine rehabilitation specialist</p>
            <p>Optimal Performance Training - National Academy of Sports Medicine</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title> Nutrition Counseling </ion-card-title>
            <ion-card-subtitle>Helathy Food Can be Good Too</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              Having a properly designed nutritional plan is as important as a member's exercise program. Comprehensive
              dietary analysis, metabolic testing and nutritional counseling are all part of the Expert Fitness training
              system. These services are available as a whole or independently through our registered dietitian. Setup
              an appointment today to get started!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
            Rehabilitation
            </ion-card-title>
            <ion-card-subtitle> Injury prevention & post-rehab</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              If you have ever suffered or is currently expiriencing back pain, you may have a postural problem. Our
              fitness professionals understand the functional anatomy of the torso and extremities as they relate to
              improved spinal health. Our fitness professionals are trained in using proper exercise technique, proper
              exercise selection and recognizing the need for exercise modification for orthopedic concerns. Effective
              assessment techniques are used for effective program developement. Click here to read on exercise and
              spinal health.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="ion-card-global">
          <ion-card-header>
            <ion-card-title>
              Personal Training Platform
            </ion-card-title>
            <ion-card-subtitle> Online & Offline  </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              You can now have your own virtual personal training management and analysis platform available at your
              fingertips, wherever you may be in the world. Get the guidance and accountability you need without the
              restraint of a single workout location. With three tiers avaialble to meet anyone's needs, the plans
              include:
            </p>
            <b>The Express Fitness App</b>
            <p>
              Our unique cutting edge platform works on any device and provides access to build and update custom
              workouts, a nutrition plan, schedule sessions, create target alerts and training reminders, review
              graphical reports showcasing your progress, interface with most fitness tracking devices and platforms,
              and stay in touch with a community for ongoing collaboration.
            </p>
            <b>Getting Started Right Webinar</b>
            <p>Get the facts right from the start so you can hit the ground running, literally.</p>
            <b>Discounted Sessions</b>
            <p>
              When you are ready to take advantage of additional semi-private or one-on-one sessions with a trainer at
              our personal training facility or your home, select sessions are offered at a discounted rate.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
