

<ion-content  >

    <ion-grid style="min-height: 100vh;" class=" ">
      <ion-row >
        <ion-col  class="ion-no-padding ion-no-margin">
          <ion-card class="ion-card-global ion-no-margin ion-text-center" style="width: fit-content;">
          <ion-card-header >
            <ion-fab horizontal="end" vertical="top">
              <ion-icon  (click)="onToggleAutomatic()" class="expand-icon" size="large" color="warning" name="resize-sharp" *ngIf="automaticClose"></ion-icon>
              <ion-icon  (click)="onToggleAutomatic()" class="expand-all-icon" size="large" color="warning" name="crop-sharp" *ngIf="!automaticClose"></ion-icon>
            </ion-fab>
            
            <ion-card-title>FAQs </ion-card-title>
            <ion-card-subtitle> Answers to common questions </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-list
            *ngFor="let faq of faqs; let i = index"
            class="accordion-list"
            lines="none"
            details="none"
            >
            <ion-item [ngClass]="{'section-active': faq.open, 'section-inactive': !faq.open}"
            >
            <ion-icon  tappable
            (click)="toggleSection(i)" class="expand-icons" slot="start" color="primary" size="large" name="add-sharp" *ngIf="!faq.open"></ion-icon>
            <ion-icon  tappable
            (click)="toggleSection(i)" class="expand-icons" slot="start" color="danger" size="large" name="remove-sharp"  *ngIf="faq.open"></ion-icon>
            <ion-text> {{ faq.title }} </ion-text>
          </ion-item>
          <p *ngIf="faq.open" class="section-active info-text ion-text-left">{{ faq.info }}</p>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>

<app-footer></app-footer>
</ion-content>

