# Doug's ignore files
/.*
/e2e
/docs
/assets
/public
/environments
.*
manifest.webmanifest
ngsw-config.json
firebase.json
firestore.rules
firestore.indexes.json
ionic.config.json
angular.json
capacitor.config.json
storage.rules
remoteconfig.template.json
prettier.config.js
karma.conf.js
package-lock.json
browserslist

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/public
