rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUser() {
    	return request.auth.uid.data.userType == 'USER';
    }
    function isAdmin() {
    	return request.auth.uid.data.userType == 'ADMIN';
    }
    function isCustomer() {
    	return request.auth.uid.data.userType == 'CUSTOMER';
    }
    function isEmployee() {
    	return request.auth.uid.data.userType == 'EMPLOYEE';
    }
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /invoices/{id}{
        allow read: if request.auth.uid == uid;
        allow write: if false;
      }
      match /customers/{id} {
        allow read: if request.auth.uid == uid;
        allow write: if false;
      }
      match /checkout_sessions/{id} {
        allow read: if request.auth.uid == uid;
        allow write: if false;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
        allow write: if false;
      }
      match /tickets/{ticket} {
        allow read, write: if request.auth.uid == uid;
      }
      match /posts/{post} {
        allow read: if isUser() || isCustomer(); 
        allow write: if request.auth.uid == uid;
      }
    }
      
    function hasBasicSubs() {
      return request.auth.token.stripeRole == "basic";
    }
    function hasPremiumSubs() {
      return request.auth.token.stripeRole == "premium";
    }
    function hasPlatinumSubs() {
      return request.auth.token.stripeRole == "platinum";
    }
    match /content-basic/{doc} {
      allow read: if hasBasicSubs() || hasPremiumSubs()  || hasPlatinumSubs();
      allow write: if false;
    }
    match /content-premium/{doc} {
      allow read: if hasPremiumSubs() || hasPlatinumSubs();
      allow write: if false;
    }
    match /content-platinum/{doc} {
      allow read: if  hasPlatinumSubs();
      allow write: if false;
    }
	
    match /products/{id} {
      allow read: if true;
      allow write: if false;
      
      match /prices/{id} {
        allow read: if true;
        allow write: if false;
      }
      match /tax_rates/{id} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}