rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isTrialing() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.status == 'trialing';
    }
    function isActive() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.status == 'active';
    }
    function isUser() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'USER';
    }
    function isAdmin() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'ADMIN';
    }
    function isCustomer() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'CUSTOMER';
    }
    function isEmployee() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'EMPLOYEE';
    }
  	function hasBasicSubscription() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.plan == 'BASIC';
    }
    function hasPremiumSubscription() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.plan == 'PREMIUM';
    }
      match /users/{uid} {
        allow read, write: if request.auth.uid == uid || isAdmin();

        match /invoices/{id}{
    			allow read: if request.auth.uid == uid;
          allow write: if false;
    		}
        match /customers/{id} {
          allow read, write: if (request.auth.uid == uid && isCustomer()) || isAdmin();
        }
        match /checkout_sessions/{id} {
          allow read, write: if request.auth.uid == uid;
        }
        match /subscriptions/{id} {
          allow read: if request.auth.uid == uid || isEmployee() || isAdmin();
          allow write: if false;
        }
        match /tickets/{ticket} {
          allow read, write: if request.auth.uid == uid || isEmployee() || isAdmin();
        }
        match /posts/{post} {
          allow read: if isUser() || isCustomer() || isEmployee() || isAdmin(); 
          allow write: if request.auth.uid == uid || isEmployee() || isAdmin();
        }
        match /content-basic/{doc} {
          allow read: if ((isActive() || isTrialing()) && (hasBasicSubscription() || hasPremiumSubscription())) || isAdmin();
        	allow write: if false;
        }
        match /content-premium/{doc} {
          allow read: if ((isActive() || isTrialing()) && hasPremiumSubscription()) || isAdmin();
          allow write: if false;
        }
      }
    }
	
    match /products/{id} {
      allow read: if true;
      allow write: if false;
    match /prices/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /tax_rates/{id} {
      allow read: if true;
      allow write: if false;
    }
    }
}