<ion-slides style="border-radius: 15px;" #mySlider pager="true" (ionSlidesDidLoad)="slidesDidLoad(mySlider)" [options]="slideOpts">
  <ion-slide *ngFor="let benefit of benefits">

    <ion-card  style="height: fit-content;  background: var(--ion-color-dark-tint);">
      <img [src]="benefit.image" style="width: 100%; height: 180px" />
      <ion-toolbar >
        <ion-title>
          <ion-text color="tertiary" style="text-transform: uppercase">
            {{ benefit.title }}
          </ion-text>
        </ion-title>
      </ion-toolbar>
      <ion-card-content class="ion-text-left" style="background: var(--ion-color-dark-tint);">
        <ion-text color="light" style="padding-top: 20px">{{ benefit.content }}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
