.is-success {
    --color: red;
  }
  
  // ion-text{
  //   text-shadow: none;
  // }
  
  .center {
    align-items: center !important;
  }
  
  h3 {
    text-indent: 0.25em;
  }
  ion-toolbar{
    --background: var(--ion-color-dark-tint);
    border-bottom: 3px solid var(--ion-color-secondary-shade);
    color:var(--ion-color-tertiary-tint);
  }
  