<!-- This Basic online training plan will provide you with
access to the online training platform- Express Fitness
App and the Getting Started Right Webinar. When you want
to take advantage of one on one time at our personal
training facility with a trainer, sessions are offered
at a discounted rate. -->

<!-- <p>
	This Premium online training plan will provide you with
				our Online Training Platform- Getting Started Right
				Webinar; you will also receive: Weekly education
				webinars covering topics from goals setting, maximizing
				metabolism, supercharging your weight loss and more. In
				addition you get our worksheets with each lesson which
				will help you apply the information faster, maximizing
				your results. When you want to take advantage of one on
				one time at our personal training facility with a
				trainer, sessions are offered at a discounted rate.
			</p> -->

<!-- <p>
				Yet one more expansion providing you with the ultimate
				in education, reporting capabilities and guidance. The
				Platinum online training plan provides you with
				immediate access to the Expert Fitness App and the
				Getting Started Right Webinar covering how to use the
				app for maximum success. Also you gain early access to
				upcoming videos and live casts covering topics
				including: goals setting, maximizing metabolism,
				supercharging your weight loss and more. In addition you
				get our worksheets with each lesson which will help you
				apply the information faster, maximizing your results.
				With the enhanced program, each week after updating the
				online progress reports your assigned trainer will
				review your progress and then contact you to provide a
				weekly progress consultation and answer any questions.
				When you want to take advantage of one on one time at
				our personal training facility with a trainer, sessions
				are offered at a discounted rate.
			</p> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen transparent class="page-content">
<!--  
    <ion-row>
      <ion-col> -->
        <!-- <ion-toolbar style="--background: var(--ion-color-medium-shade)">
          <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="unsub" color="warning">
              <ion-icon name="ribbon-sharp" color="warning"></ion-icon>
              Individual Items
            </ion-segment-button>
            <ion-segment-button value="current">
              <ion-icon name="person-add-sharp" color="warning"></ion-icon>
              Online Subscriptions
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar> -->

    <!-- <ion-row class="ion-justify-content-center" [ngSwitch]="segment">
      <ion-col size="12" *ngSwitchDefault> -->
        <ion-card class="ion-card-global ion-text-center ion-padding">
          <ion-card-header>
            <ion-card-title> Online Training Platform plans </ion-card-title>
            <ion-card-subtitle> Choose the plan that works for you </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-spinner *ngIf="loading">Loading...</ion-spinner>
            
              <!-- <ion-row>
                <ion-col > -->
                  <ion-card class="ion-sub-card-global" *ngFor="let product of productsActive | async">
                    <ion-card-header>
                      <ion-card-title class="ion-float-left"> {{product.name}} </ion-card-title>
                      <ion-card-subtitle class="ion-float-right"> {{ product.price }} </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      {{ product.image }}
                      <p>{{ product.description }}</p>
                    </ion-card-content>
                    <ion-button class="product-button" color="success">Choose this plan </ion-button>
                  </ion-card>
                <!-- </ion-col>
              </ion-row> -->
            
          </ion-card-content>
        </ion-card>
      <!-- </ion-col> -->

      <!-- <ion-col size="12" *ngSwitchCase="'unsub'">
        <ion-card class="ion-card-global ion-text-center ion-padding">
          <ion-card-header>
            <ion-card-title> Expert Fitness Offerings </ion-card-title>
            <ion-card-subtitle> Choose what works for you </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-spinner *ngIf="loading">Loading...</ion-spinner>
              <ion-col>
                <ion-card class="ion-sub-card-global">
                  <ion-card-header>
                    <ion-card-title> </ion-card-title>
                    <ion-card-subtitle> </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content> </ion-card-content>
                  <ion-button class="product-button" color="success">Choose this plan</ion-button>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ion-sub-card-global">
                  <ion-card-header>
                    <ion-card-title> </ion-card-title>
                    <ion-card-subtitle> </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content> </ion-card-content>
                  <ion-button class="product-button" color="success">Choose this plan</ion-button>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ion-sub-card-global">
                  <ion-card-header>
                    <ion-card-title> </ion-card-title>
                    <ion-card-subtitle> </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content> </ion-card-content>
                  <ion-button class="product-button" color="success">Choose this plan</ion-button>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
  
</ion-content>
