.scene-one {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom left,
      rgba(0, 24, 90, 0.2) 0%,
      rgba(20, 0, 109, 0.2) 50%,
      rgba(0, 24, 90, 0.2) 100%
    ),
    linear-gradient(to bottom right, rgba(0, 24, 90, 0.8), rgba(131, 130, 130, 0.2), rgba(0, 24, 90, 0.8)),
    url(../../../assets/lazy/images/fitness-balancing.jpg) center/ cover no-repeat;
  background-color: var(--ion-color-medium);

  .main-title {
    font: normal normal 800 32px/2 sans-serif;
  }

  .main-subtitle {
    font: normal normal 800 20px sans-serif;
  }

  sup {
    font: small-caps normal 800 18px;
    color: var(--ion-color-tertiary);
    text-shadow: 2px 2px 1px rgb(0, 0, 0), 0px 0px 8px rgb(255, 255, 255);
  }

  .main-heading-card {
    padding-bottom: 12px;
    background: linear-gradient(to bottom right, rgba(0, 2, 68, 0.544), rgba(0, 3, 95, 0.462), rgba(6, 0, 61, 0.475)),
      linear-gradient(to bottom left, rgba(0, 0, 59, 0.544), rgba(0, 5, 94, 0.462), rgba(0, 0, 63, 0.475));
    border: 4px outset var(--ion-color-warning);
    border-radius: 15px;
  }
}

.video {
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
}

.pulsing {
  animation: 2s ease-in-out 1s infinite alternate pulsar;
  // z-index: 99;
}

@keyframes pulsar {
  100% {
    transform: scale(0.85, 0.85);
    opacity: 60%;
  }
}

.page-two {
  min-height: 95vh;
  background: linear-gradient(rgba(0, 3, 37, 0.767), rgba(0, 0, 0, 0.767)),
    url(../../../assets/lazy/images/upward-dog-pose.jpg) center left / cover no-repeat;
}

#pageThree {
  min-height: 95vh;
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.658) 0%,
      rgba(7, 9, 17, 0.822) 33%,
      rgba(47, 67, 110, 0.615) 66%,
      rgba(30, 40, 56, 0.629) 100%
    ),
    linear-gradient(
      to top,
      rgba(5, 2, 2, 0.453) 0%,
      rgba(148, 85, 85, 0.123) 33%,
      rgba(105, 79, 79, 0.415) 66%,
      rgba(46, 31, 31, 0.229) 100%
    ),
    center / cover url(../../../assets/lazy/images/smiling-workout.jpg);
}

.page-four {
  min-height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(71, 71, 71, 0.445)),
    center/ cover no-repeat url(../../../assets/lazy/images/platinum.png);
}

.up {
  ion-icon {
    color: var(--ion-color-warning-tint);
  }
  margin-right: 10px;
  --background: transparent;
  --border-color: var(--ion-color-warning);
  --border-width: 2px;
  --border-style: solid;
  --ripple-color: var(--ion-color-warning);
  --background-hover: white;
  --background-hover-opacity: 0.3;
  --background-focused: white;
  --background-focused-opacity: 0.3;
  --background-activated: var(--ion-color-secondary-tint);
  --background-activated-opacity: 0.5;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.05),
    0px 10px 15px rgba(0, 0, 0, 0.03), 0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
}

.ratings-banner {
  background: linear-gradient(rgba(0, 3, 19, 0.8), rgba(3, 0, 17, 0.8), rgba(0, 3, 27, 0.8)),
    repeating-conic-gradient(
      from 3deg at 50% 50%,
      var(--ion-color-primary-shade),
      var(--ion-color-primary-tint) 2deg 5deg,
      var(--ion-color-dark-tint),
      var(--ion-color-warning-shade) 15deg 18deg,
      var(--ion-color-primary-tint) 20deg
    );
}
