<ion-content scrollEvents="true" (ionScroll)="onScroll($event)">
  <ion-grid class="ion-no-padding">
    <ion-row class="scene-one ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="3" class="ion-align-self-center">

        <ion-row class="ion-text-left ion-hide-sm-up">
          <ion-col class="main-logo-div ion-text-center">
            <img src="../../../assets/lazy/images/logo.png" class="lifting landing-logo">
              <ion-text class="logoText slideIntoPlace">
                <h1 class="main-title pert tachyon">pert</h1>
                <h1 class="main-title fitness ion-no-margin tachyon">Fitness</h1>
              </ion-text>
          </ion-col>
          </ion-row>

        <ion-row class=" ion-text-left ion-hide-sm-down">
          <ion-col class="main-logo-div-lg ion-text-center">
            <img src="../../../assets/lazy/images/logo.png" class="lifting landing-logo-lg">
              <ion-text class="logoText-lg slideIntoPlace">
                <h1 class="main-title-lg pert-lg tachyon">pert</h1>
                <h1 class="main-title-lg fitness-lg ion-no-margin tachyon">Fitness</h1>
              </ion-text>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-start ion-text-center ion-no-margin">
              <h2>
                <ion-text color="tertiary" class="main-subtitle">
              Train
              <ion-text color="light"> | </ion-text>
              Review
              <ion-text color="light"> | </ion-text>
              Grow
            </ion-text>
          </h2>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-bottom">
        <ion-col class="ion-text-center">
          <ion-button [@flash]="flash" size="large" shape="round" class="cta-main" strong routerLink="/pricing">
            Start Today
          </ion-button>
        </ion-col>
      </ion-row>



      </ion-col>
      <ion-fab class="bounceOutDown ion-text-center" horizontal="center" vertical="bottom">
        <ion-note color="secondary"> Scroll Down </ion-note>
        <br />
        <ion-icon
          size="large"
          color="secondaryion"
          button
          name="chevron-down-sharp"
          (click)="scrollToLabel('pageTwo')"
        ></ion-icon>
      </ion-fab>
    </ion-row>
    <ion-row id="pageTwo" class="page-two ion-margin-vertical">
      <ion-col class="ion-align-self-center">
        <app-home-page-two></app-home-page-two>
      </ion-col>
    </ion-row>
    <ion-row id="pageThree" class="ion-margin-vertical">
      <ion-col class="ion-align-self-center">
        <app-home-page-three></app-home-page-three>
      </ion-col>
    </ion-row>
    <ion-row id="pageFour" class="page-four ion-margin-vertical">
      <ion-col class="ion-align-self-center">
        <app-home-page-four></app-home-page-four>
      </ion-col>
    </ion-row>
    <ion-row class="ratings-banner ion-margin-vertical ion-justify-content-center">
      <ion-col class="ion-align-self-center">
        <app-ratings routerLink="/reviews"></app-ratings>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button id="up" [hidden]="!scrolledDown" class="up" size="small" (click)="scrollToTop()">
      <ion-icon name="chevron-up-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-footer></app-footer>
</ion-content>
