.scene-one {
  height: 94vh;
  width: 100vw;
  background-color: var(--ion-color-medium);
  background: linear-gradient(
      to right,
      rgba(39, 39, 88, 0.603) 0%,
      rgba(15, 0, 71, 0.404) 50%,
      rgba(24, 1, 1, 0.726) 100%
    ),
    linear-gradient(
      to bottom right,
      rgba(83, 109, 108, 0.753) 0%,
      rgba(10, 37, 39, 0.315) 15%,
      rgba(4, 32, 34, 0.123) 50%,
      rgba(3, 53, 68, 0.829) 100%
    ),
    url(../../../assets/images/fitness-balancing.jpg) center/ cover no-repeat;
}

.main-title {
  font: normal normal 800 32px/2 sans-serif;
}

.main-subtitle {
  font: normal normal 800 20px sans-serif;
}

sup {
  font: small-caps normal 800 18px;
  color: var(--ion-color-secondary-tint);
  text-shadow: 3px 1px 1px var(--ion-color-secondary-shade), 8px 4px 2px black;
}

.main-heading-card {
  padding-bottom: 12px;
  background: var(--ion-color-dark-tint);
  border: 4px outset var(--ion-color-danger);
}

.video {
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
}

.video:hover {
  text-decoration: underline;
}

.pulsing {
  animation: 4s ease-out infinite pulsar;
  // z-index: 99;
}

@keyframes pulsar {
  50% {
    transform: scale(0.8, 0.8);
    opacity: 30%;
  }
}

#pageThree {
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.658) 0%,
      rgba(7, 9, 17, 0.822) 33%,
      rgba(47, 67, 110, 0.615) 66%,
      rgba(30, 40, 56, 0.629) 100%
    ),
    linear-gradient(
      to top,
      rgba(5, 2, 2, 0.453) 0%,
      rgba(148, 85, 85, 0.123) 33%,
      rgba(105, 79, 79, 0.415) 66%,
      rgba(46, 31, 31, 0.229) 100%
    ),
    center / cover url(../../../assets/images/smiling-workout.jpg);
}

.page-four {
  background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(71, 71, 71, 0.445)),
    center/ cover no-repeat url(../../../assets/images/platinum.png);
}

#pageTwo {
  background: linear-gradient(to right, rgba(41, 41, 41, 0.767), rgba(77, 76, 76, 0.589)),
    center/ cover no-repeat url('../../../assets/images/arm-back-muscles.jpg');
}
.up{
  ion-icon{
    color:var(--ion-color-warning-tint);
  }
  margin-right: 10px;
  --background: transparent;
  --border-color:var(--ion-color-warning);
  --border-width: 2px;
  --border-style:solid;
  --ripple-color:var(--ion-color-danger);
  --background-hover:white;
  --background-hover-opacity:.3;
  --background-focused: white;
  --background-focused-opacity: .3;
  --background-activated:var(--ion-color-secondary-tint);;
  --background-activated-opacity:.5;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.05),
  0px 10px 15px rgba(0, 0, 0, 0.03), 0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
}
