ion-row {
  min-height: 100vh;
  display: flex;
  place-content: center;
}

.shayke {
  box-shadow: 0 0 0.5rem rgb(255, 255, 255);
  border-radius: 15px;
  height: 150px;
  width: 200px;
  margin: 15px;
}

b {
  color: white;
}


p {
  color: var(--ion-text-color);
}
