<ion-content class="content">
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="8" size-lg="6">
      <ion-card class="shadow ion-card-global ion-no-margin">
        <ion-card-header>
          <ion-card-title> Training Sessions & Training Plans </ion-card-title>
          <ion-card-subtitle>Private, Semi-private & Home </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            The X Fitness Studio gym is always clean, sanitized, and ready as soon as you walk in the door. You will be
            hard pressed to find an equally qualified trainer along with a premier workout facility at such a fair price
            anywhere. Whether you are interested in shedding the pounds or even maximizing your fitness potential, X
            Fitness Studio has the expertise, equipment, and tools necessary to achieve most any goal with a myriad of
            fitness options to choose from. The expertise and results you can achieve at X Fitness Studio are hands down
            some of the best available today, offered to you at no-nonsense prices provided by a motivational staff in a
            clean, sanitized & welcoming atmosphere.
          </p>
          <p>
            Our team of professional personal trainers is comprised of fitness & nutritional focused career trainers.
          </p>
          <b>Requirements include:</b>
          <p>Formal education in exercise science <b>(or)</b> commensurate experience</p>
          <p>Nationally recognized personal training certification</p>
          <p>Scientific Core Conditioning - Paul Chek, spine rehabilitation specialist</p>
          <p>Optimal Performance Training - National Academy of Sports Medicine</p>
          <div class="ion-text-center ion-margin">
            <ion-title color="secondary">Learn more about the X Fitness Studio</ion-title>
            <ion-button routerLink="/about-us" color="primary" shape="round">About Us</ion-button>
            <ion-button routerLink="/choices" color="primary" shape="round">Choices</ion-button>
            <ion-button routerLink="/safety" color="primary" shape="round">Safety</ion-button>
            <ion-button routerLink="/nutrition" color="primary" shape="round">Nutrition</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
