<div data-v-19abb0d6="" data-v-e6f44b20="" class="col-grow q-pl-md-md bl-md b--separator">
  <div data-v-19abb0d6="" data-v-e6f44b20="" class="row justify-center justify-sm-start">
    <h2 data-v-19abb0d6="" class="text-h6 text-h5-md text-capitalize tracked q-mt-none" data-v-e6f44b20="">
      Keep In Touch
    </h2>
    <div data-v-19abb0d6="" data-v-e6f44b20="" class="col-12 row justify-center justify-sm-start">
      <button
        data-v-19abb0d6=""
        tabindex="0"
        type="button"
        role="button"
        class="
          q-btn q-btn-item
          non-selectable
          no-outline
          q-btn--flat q-btn--round q-btn--actionable
          q-focusable q-hoverable
          q-btn--wrap
        "
        title="TruNews on Facebook"
        data-v-e6f44b20=""
      >
        <span class="q-focus-helper"></span
        ><span class="q-btn__wrapper col row q-anchor--skip"
          ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
            ><i aria-hidden="true" role="img" class="fab fa-facebook-square q-icon notranslate"> </i></span
        ></span></button
      ><button
        data-v-19abb0d6=""
        tabindex="0"
        type="button"
        role="button"
        class="
          q-btn q-btn-item
          non-selectable
          no-outline
          q-btn--flat q-btn--round q-btn--actionable
          q-focusable q-hoverable
          q-btn--wrap
        "
        title="TruNews on Gab"
        data-v-e6f44b20=""
      >
        <span class="q-focus-helper"></span
        ><span class="q-btn__wrapper col row q-anchor--skip"
          ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
            ><ion-img
              aria-hidden="true"
              role="img"
              src="images/Gab_Logo-grey.svg"
              class="q-icon notranslate"
            ></ion-img></span
        ></span></button
      ><button
        data-v-19abb0d6=""
        tabindex="0"
        type="button"
        role="button"
        class="
          q-btn q-btn-item
          non-selectable
          no-outline
          q-btn--flat q-btn--round q-btn--actionable
          q-focusable q-hoverable
          q-btn--wrap
        "
        title="TruNews on Twitter"
        data-v-e6f44b20=""
      >
        <span class="q-focus-helper"></span
        ><span class="q-btn__wrapper col row q-anchor--skip"
          ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
            ><i aria-hidden="true" role="img" class="fab fa-twitter-square q-icon notranslate"> </i></span
        ></span></button
      ><button
        data-v-19abb0d6=""
        tabindex="0"
        type="button"
        role="button"
        class="
          q-btn q-btn-item
          non-selectable
          no-outline
          q-btn--flat q-btn--round q-btn--actionable
          q-focusable q-hoverable
          q-btn--wrap
        "
        title="TruNews Podcast"
        data-v-e6f44b20=""
      >
        <span class="q-focus-helper"></span
        ><span class="q-btn__wrapper col row q-anchor--skip"
          ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
            ><i aria-hidden="true" role="img" class="fas fa-podcast q-icon notranslate"> </i></span
        ></span></button
      ><button
        data-v-19abb0d6=""
        tabindex="0"
        type="button"
        role="button"
        class="
          q-btn q-btn-item
          non-selectable
          no-outline
          q-btn--flat q-btn--round q-btn--actionable
          q-focusable q-hoverable
          q-btn--wrap
        "
        title="TruNews RSS Feed"
        data-v-e6f44b20=""
      >
        <span class="q-focus-helper"></span
        ><span class="q-btn__wrapper col row q-anchor--skip"
          ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
            ><i aria-hidden="true" role="img" class="fas fa-rss-square q-icon notranslate"> </i></span
        ></span>
      </button>
    </div>
    <hr
      data-v-19abb0d6=""
      role="separator"
      aria-orientation="horizontal"
      class="q-separator print-hide col-12 q-separator q-separator--horizontal"
      data-v-e6f44b20=""
      style="margin-bottom: 8px; margin-top: 8px"
    />
  </div>
  <div data-v-19abb0d6="" data-v-e6f44b20="" class="row q-px-md">
    <div data-v-19abb0d6="" data-v-e6f44b20="" class="print-hide col-12 col-sm-6">
      <h3
        data-v-19abb0d6=""
        class="
          text-body1 text-h6-md text-h5-xl
          lh-h6-md lh-h5-xl
          q-mb-sm
          text-weight-medium text-uppercase text-grey-8
          tracked
          text-center text-left-sm
        "
        data-v-e6f44b20=""
      >
        Receive Our Newsletter
      </h3>
      <div data-v-19abb0d6="" class="q-pb-md" data-v-e6f44b20="">
        <form>
          <label
            for="f_1d84bb99-4876-4375-b1cb-9b87fc45b12b"
            class="
              q-field q-validation-component
              row
              no-wrap
              items-start
              q-input
              q-field--outlined q-field--labeled q-field--with-bottom
            "
          >
            <div class="q-field__inner relative-position col self-stretch column justify-center">
              <div tabindex="-1" class="q-field__control relative-position row no-wrap bg-white">
                <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                  <input
                    tabindex="0"
                    aria-label="First Name"
                    id="f_1d84bb99-4876-4375-b1cb-9b87fc45b12b"
                    type="text"
                    class="q-field__native q-placeholder"
                  />
                  <div class="q-field__label no-pointer-events absolute ellipsis">First Name</div>
                </div>
              </div>
              <div class="q-field__bottom row items-start q-field__bottom--animated">
                <div class="q-field__messages col"></div>
              </div>
            </div> </label
          ><label
            for="f_e11449a4-1e38-4ee7-83b8-835cc1395e6b"
            class="
              q-field q-validation-component
              row
              no-wrap
              items-start
              q-input
              q-field--outlined q-field--labeled q-field--with-bottom
            "
          >
            <div class="q-field__inner relative-position col self-stretch column justify-center">
              <div tabindex="-1" class="q-field__control relative-position row no-wrap bg-white">
                <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                  <input
                    tabindex="0"
                    aria-label="Last Name"
                    id="f_e11449a4-1e38-4ee7-83b8-835cc1395e6b"
                    type="text"
                    class="q-field__native q-placeholder"
                  />
                  <div class="q-field__label no-pointer-events absolute ellipsis">Last Name</div>
                </div>
              </div>
              <div class="q-field__bottom row items-start q-field__bottom--animated">
                <div class="q-field__messages col"></div>
              </div>
            </div> </label
          ><label
            for="f_a7ce590e-df97-4e31-9a8c-d92e9e47ddba"
            class="
              q-field q-validation-component
              row
              no-wrap
              items-start
              q-input
              q-field--outlined q-field--labeled q-field--with-bottom
            "
          >
            <div class="q-field__inner relative-position col self-stretch column justify-center">
              <div tabindex="-1" class="q-field__control relative-position row no-wrap bg-white">
                <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                  <input
                    tabindex="0"
                    aria-label="Your Email Address"
                    id="f_a7ce590e-df97-4e31-9a8c-d92e9e47ddba"
                    type="email"
                    class="q-field__native q-placeholder"
                  />
                  <div class="q-field__label no-pointer-events absolute ellipsis">Your Email Address</div>
                </div>
              </div>
              <div class="q-field__bottom row items-start q-field__bottom--animated">
                <div class="q-field__messages col"></div>
              </div>
            </div>
          </label>
          <div class="text-right">
            <button
              tabindex="0"
              type="submit"
              role="button"
              class="
                q-btn q-btn-item
                non-selectable
                no-outline
                q-btn--standard q-btn--rectangle
                bg-primary
                text-white
                q-btn--actionable
                q-focusable q-hoverable
                q-btn--wrap
              "
            >
              <span class="q-focus-helper"></span
              ><span class="q-btn__wrapper col row q-anchor--skip"
                ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
                  ><span class="block">Sign Up</span
                  ><i aria-hidden="true" role="img" class="material-icons q-icon notranslate on-right"
                    >arrow_forward</i
                  ></span
                ></span
              >
            </button>
          </div>
        </form>
      </div>
    </div>
    <div data-v-19abb0d6="" data-v-e6f44b20="" class="col-12 col-sm-6 text-center text-right-sm">
      <h3
        data-v-19abb0d6=""
        class="
          text-body1 text-h6-md text-h5-xl
          lh-h6-md lh-h5-xl
          q-mb-sm
          text-weight-medium text-uppercase text-grey-8
          tracked
        "
        data-v-e6f44b20=""
      >
        Write To Us
      </h3>
      <address data-v-19abb0d6="" class="vcard" data-v-e6f44b20="">
        <a
          href="https://www.trunews.com"
          class="fn org url text-body1 text-weight-bold q-mb-xs no-underline text-normal text-grey-9 tracked bb-0"
          >TruNews</a
        >
        <div class="text-body2 text-weight-medium tracked adr">
          <span class="street-address">PO Box 690069</span><br /><span class="locality">Vero Beach</span>,
          <abbr title="Florida" class="region">FL</abbr><br /><span class="postal-code">32969-0069</span><br /><span
            class="country-name"
            >USA</span
          >
        </div>
      </address>
      <div data-v-19abb0d6="" data-v-e6f44b20="" class="column items-center items-sm-end print-hide">
        <h3
          data-v-19abb0d6=""
          class="
            text-body1 text-h6-md text-h5-xl
            lh-h6-md lh-h5-xl
            q-mb-sm
            text-weight-medium text-uppercase text-grey-8
            tracked
            q-mt-xl
          "
          data-v-e6f44b20=""
        >
          Get the TruNews App
        </h3>
        <a
          data-v-19abb0d6=""
          tabindex="0"
          role="link"
          class="
            q-btn q-btn-item
            non-selectable
            no-outline
            q-ma-sm
            self-sm-end
            q-btn--flat q-btn--rectangle q-btn--actionable
            q-focusable q-hoverable
            q-btn--wrap q-btn--dense
          "
          href="https://itunes.apple.com/us/app/trunews/id880594743?mt=8"
          target="_blank"
          rel="noopener noreferrer"
          data-v-e6f44b20=""
          style="font-size: 14px"
          ><span class="q-focus-helper"></span
          ><span class="q-btn__wrapper col row q-anchor--skip"
            ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
              ><i aria-hidden="true" role="img" class="fab fa-app-store-ios q-icon notranslate on-left"> </i
              ><span class="block">Apple App Store</span></span
            ></span
          ></a
        ><a
          data-v-19abb0d6=""
          tabindex="0"
          role="link"
          class="
            q-btn q-btn-item
            non-selectable
            no-outline
            q-ma-sm
            self-sm-end
            q-btn--flat q-btn--rectangle q-btn--actionable
            q-focusable q-hoverable
            q-btn--wrap q-btn--dense
          "
          href="https://play.google.com/store/apps/details?id=com.flowingstreams.trunews.app"
          target="_blank"
          rel="noopener noreferrer"
          data-v-e6f44b20=""
          style="font-size: 14px"
          ><span class="q-focus-helper"></span
          ><span class="q-btn__wrapper col row q-anchor--skip"
            ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
              ><i aria-hidden="true" role="img" class="fab fa-google-play q-icon notranslate on-left"> </i
              ><span class="block">Google Play</span></span
            ></span
          ></a
        ><a
          data-v-19abb0d6=""
          tabindex="0"
          role="link"
          class="
            q-btn q-btn-item
            non-selectable
            no-outline
            q-ma-sm
            self-sm-end
            q-btn--flat q-btn--rectangle q-btn--actionable
            q-focusable q-hoverable
            q-btn--wrap q-btn--dense
          "
          href="https://channelstore.roku.com/details/296748/trunews-with-rick-wiles"
          target="_blank"
          rel="noopener noreferrer"
          data-v-e6f44b20=""
          style="font-size: 14px"
          ><span class="q-focus-helper"></span
          ><span class="q-btn__wrapper col row q-anchor--skip"
            ><span class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
              ><ion-img
                aria-hidden="true"
                role="img"
                src="images/roku-icon.svg"
                class="q-icon notranslate on-left"
              ></ion-img
              ><span class="block">Roku Channel Store</span></span
            ></span
          ></a
        >
      </div>
    </div>
  </div>
</div>
