<ion-content >
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="6" size-lg="6" size-xl="6" class="ion-text-center">
        <ion-card class="ion-text-center">
          <ion-card-header color="primary" class="ion-text-center">
            <ion-card-title>
              Expert Fitness Login
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ngx-auth-firebaseui
              [providers]="[providers.Google, providers.Facebook, providers.Twitter]"
              goBackURL="/home"
              appearance="fill"
              tosUrl="/terms"
              privacyPolicyUrl="/privacy"
            >
            </ngx-auth-firebaseui>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
</ion-content>
