.title-card {
  background:rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  
}

// toolbars
ion-toolbar {
  --background: var(--ion-color-medium-shade);
  border-top: 3px solid var(--ion-color-warning-tint);
  border-bottom: 3px solid var(--ion-color-warning-tint);
}
