  <ion-row class="ion-text-center ion-justify-content-center ion-margin-vertical">
    <ion-col
      size-xl="4"
      size-lg="4"
      size-md="8"
      size-sm="10"
      class=" ion-padding-vertical"
    >
      <ion-card class="title-card shadow">
        <ion-card-header>
          <ion-card-title>
            <ion-text class="ion-text-uppercase" color="light">
              Aim
              <ion-icon color="success" name="chevron-forward"></ion-icon>
              Achieve
              <ion-icon color="success" name="chevron-forward"></ion-icon>
              Analyze
              <ion-icon color="success" name="chevron-forward"></ion-icon>
              Align
              <ion-icon color="success" size="large" name="repeat-outline"></ion-icon>
            </ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-text color="warning" class="ion-text-capitalize">A 4 Step Approach to fitness </ion-text>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-around ion-margin-vertical">
    <ion-col
      size-xl="3"
      size-lg="4"
      size-md="6"
      size-sm="12"
      class="ion-align-self-stretch  ion-padding-vertical ion-text-center"
    >
      <ion-fab horizontal="start" vertical="center">
        <ion-icon
          class="revpulsar"
          color="success"
          size="large"
          name="chevron-back-outline"
          (click)="slidePrev(mySlider)"
        ></ion-icon>
      </ion-fab>
      <ion-fab horizontal="end" vertical="center">
        <ion-icon
          class="pulsar"
          size="large"
          color="success"
          name="chevron-forward-outline"
          (click)="slideNext(mySlider)"
        ></ion-icon>
      </ion-fab>
      <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" [options]="slideOpts" class="slide-parent">
        <ion-slide *ngFor="let phase of phases.slideItems">
          <ion-card style="height: 500px; border-radius: 15px" color="medium" class="shadow">
            <img [src]="[phase.image]" class="slide-image" />
            <ion-card-header
              style="border-top: 2px solid var(--ion-color-light); border-bottom: 2px solid var(--ion-color-light)"
            >
              <ion-card-title>
                <ion-text color="success" class="ion-text-capitalize">
                  <b>
                    {{ phase.title }}
                  </b>
                </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin">
              <ion-text color="primary">
                {{ phase.content }}
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="8" class="ion-align-self-center ion-text-center ion-padding-vertical">
      <ion-img
        style="min-height: 300px; min-width: 300px"
        src="../../../assets/lazy/images/circleinfograph1.svg"
      ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-vertical">
    <ion-col class="ion-text-center ion-margin ion-padding-vertical">
      <ion-button class="cta-main" strong size="large" routerLink="/pricing"> Get Started </ion-button>
    </ion-col>
  </ion-row>
