.title-card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

// toolbars
ion-toolbar {
  --background: transparent;
  border-top: 3px solid var(--ion-color-warning-tint);
  border-bottom: 3px solid var(--ion-color-warning-tint);
}

.slide-parent {
  border-radius: 15px;
}

.slide {
  height: 95%;
  width: 100%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
}

.slide-image {
  border-radius: 15px 15px 0 0;
}

