  <div class="page-three">
    <ion-row>
      <ion-toolbar style="position: relative;" class="infographic-toolbar ">
        <ion-title color="warning" style="position: absolute; bottom: 0;">
          <p>
            Our Approach is Simple & Effective At Expert Fitness
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-row>
    <ion-row class="infographic">
  <ion-col size="12" class="ion-text-center ion-padding-vertical ion-margin-vertical">
    <img src="../../../assets/svg/Plain_infographic4slot.svg" />
  </ion-col>
</ion-row>
</div>

