
ion-header{
  z-index: 30;;
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}




.menu-font {
  ion-label {
    font: 800 1.1em/1.4 Montserrat, sans-serif;
    text-transform: uppercase;
    color: var(--ion-color-light-tint);
  }
  padding: 0 1.3125em;
  display: inline-block;
  border-bottom: 0.3125em solid transparent;
}

.active-link {
  ion-label {
    color: var(--ion-color-tertiary);
    border-bottom: 0.3125em solid var(--ion-color-warning-shade);
  }
}

.silhouette {
  max-height: 2.75em;
}

@media (max-width: 41.3125em) {
  .large-screen {
    display: none !important;
  }
}
@media (min-width: 416px) {
  .small-screen {
    display: none !important;
  }
}
