<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen transparent>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Please enter your email address to request a password reset.
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        
        
        <input
        type="email"
        class="formControl"
        placeholder="Email Address"
        [formControl]="email"
        #passwordResetEmail
        required
        /> -->
        
        <!-- Calling ForgotPassword from AuthService Api -->
        <!-- <ion-button
          [disabled]="!email.valid"
          type="submit"
          (click)="authService.ForgotPassword(email.value)"
          >Send Reset Email</ion-button>
          
          
          <ion-button fill="clear" routerLink="/login">
            Back to Login
          </ion-button>
        </ion-card-content>
      </ion-card>
</ion-content> -->
