<ion-content class="ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-toolbar class="toolbar">
          <ion-title class="title">Contact Xpert Fitness</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="3" class="ion-hide-sm-down">
        <ion-img src="../../../assets/lazy/images/squatting-exercise.jpg" style="height: 100%; width: 100%"></ion-img>
      </ion-col>
      <ion-col class="ion-align-items-stretch ion-align-self-center" size-sm="100%" size-md="6">
        <ion-row>
          <ion-col>
            <ion-img src="../../../assets/lazy/images/platinum.png" style="height: 100%; width: 100%"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="../../../assets/lazy/images/logo.png" style="height: 100%; width: 100%"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center" size-sm="12" size-md="4">
            <app-location></app-location>
          </ion-col>
          <ion-col class="ion-text-center ion-hide-sm-down ion-align-items-center">
            <ion-img
              src="../../../assets/lazy/images/woman-lifts-free-weights.jpg"
              style="height: 100%; width: 100%"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="ion-hide-sm-down">
        <ion-img src="../../../assets/lazy/images/intense-exercise.jpg" style="height: 100%; width: 100%"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-toolbar class="toolbar-bottom"> </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer> </app-footer>
</ion-content>
