.main{
  display: flex;
  place-content: center;
  padding-top: 60px;
}

.is-success {
  --color: red;
}

.center {
  align-items: center !important;
}

.name-card {
  border-top: 3px solid var(--ion-color-primary);
  border-bottom: 3px solid var(--ion-color-primary);
}

.profile-card {
  max-width: 500px;
  border: 3px solid var(--ion-color-primary);
  --background: var(--ion-color-medium);
  ion-card-header {
    --background: var(--ion-color-medium-shade);
    text-align: center;
    ion-card-title {
      text-transform: uppercase;
      color: var(--ion-color-primary);
      font-weight: 600;
    }
    ion-card-subtitle {
      color: var(--ion-color-success);
      font-size: larger;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  ion-card-content {
    text-align: left;
    padding: 10px;
  }
  ion-label {
    color: var(--ion-color-primary);
    text-transform: capitalize;
  }
}

ion-card {
  color: var(--ion-color-dark);
  border-radius: 15px;
  text-transform: capitalize;
}
