<ion-content >
  <ion-card class="ion-card-global" *ngIf="post$ | async as post">
    <ion-card-header>
      <ion-card-title>{{ post.header }}</ion-card-title>
      <ion-card-subtitle>
        <h3 class="subheader">{{ post.subheader }}</h3>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Written by {{ post.author }}</ion-label>
      <ng-container class="container">
        <div class="iframe-container">
        <iframe
          class="responsive-iframe"
          [src]="[post.youtubeUrl]"
          frameborder="0"
          allow="encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
    </ng-container>
    <ion-text class="bodyText" [innerHTML]="post.content"></ion-text>
      <ion-button class="readBtn" routerLink="/home">Home</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
