.benefit-card {
  width: fit-content;
  display: block;
  margin: 20px auto;
}

.benefit-button {
  border-radius: 15px;
  background: var(--ion-color-medium);
}

// .benefit-button:focus {
//   background: orange;
// }

.benefit-button:hover {
  background: var(--ion-color-tertiary);;
}

.benefit-sub-card {
  background: var(--ion-color-primary-shade);
  width: fit-content;
  display: block;
  margin: 20px auto;
}

