<ion-grid>
  <ion-row class="ion-justify-content-center ion-margin-vertical">
    <ion-col class="ion-margin-vertical">
      <ion-card class="ion-text-center shadow page-two-card">
        <ion-card-header>
          <ion-card-title color="light"> Why limit yourself? </ion-card-title>
          <ion-card-subtitle color="warning">At Expert Fitness YOU have it all </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-around ion-hide-sm-down ion-margin-vertical">

    <ion-col size-sm="12" size-md="5" size-lg="4" size-xl="3" class="ion-align-self-center">
      <app-benefits-tracker (benefitChosen)="onBenefitChosen($event)"></app-benefits-tracker>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="12" size-md="5" size-lg="4" size-xl="3" class="ion-align-self-center">
      <app-benefits-tracker-results [benefit]="benefitChosen"></app-benefits-tracker-results>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-vertical ion-hide-sm-up">
    <ion-col class="ion-align-self-center">
      <app-benefits></app-benefits>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-vertical">
    <ion-col class="ion-align-self-end ion-text-center ion-margin-vertical">
      <ion-button
        class="cta"
        strong
        size="large"
        fill="clear"
        style="
          border: 2px solid var(--ion-color-light);
          background-color: rgba(255, 255, 255, 0.11);
          border-radius: 5px;
        "
        color="light"
        routerLink="/home/about-us"
        >About Us
      </ion-button>
      <ion-button class="cta cta-main" strong size="large" routerLink="/home/pricing" style="border-radius: 5px">
        View Pricing
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
