.benefit-card {
  width: fit-content;
  display: block;
  margin: 20px auto;
  border: 5px solid var(--ion-color-primary-shade)
}

.benefit-button {
  border-radius: 15px;
  background: var(--ion-color-medium);
}

// .benefit-button:focus {
//   background: orange;
// }

.benefit-button:hover {
  background: var(--ion-colo-danger);;
}

.benefit-sub-card {
  background: var(--ion-color-dark-tint);
  width: fit-content;
  display: block;
  margin: 20px auto;
}
