.page-two-card {
  background: rgba(255, 255, 255, 0.1);
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
  display: block;
  border-radius: 15px;
  border: 3px solid var(--ion-color-secondary-tint);
}


.benefit-tracker-card{
  width: 500px;
  height: 480px; 
  border-radius: 15px;
  border:3px solid var(--ion-color-secondary);
  background: rgba(255, 255, 255, 0.219);
}
.first-benefit-card{
  width: 500px;
  height: fit-content; 
  border-radius: 15px;
  border:3px solid var(--ion-color-secondary);
  background: rgba(255, 255, 255, 0.219);
}
