<ion-card class="ion-text-center ion-no-margin ion-no-padding" style="height: 100%">
  <ion-card-header>
    <ion-fab horizontal="end" vertical="top">
      <ion-icon color="warning" size="large" name="close" (click)="dismissModal()"></ion-icon>
    </ion-fab>
    <ion-card-title>Forgot Password</ion-card-title>
    <ion-card-subtitle *ngIf="errorMessage" color="danger">Error: {{ errorMessage }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-margin ion-text-center ion-no-padding">
    <ion-text color="warning">
      <b>Steps to complete a password reset request:</b>
    </ion-text>
    <ion-item lines="none">
      <ion-text color="light">
        <ol>
          <li>Enter your email address</li>
          <li>Submit Request</li>
          <li>Check your email for for instrctions</li>
        </ol>
      </ion-text>
    </ion-item>
    <form [formGroup]="resetForm" (ngSubmit)="onReset()">
      <ion-card>
        <ion-item lines="none" details="false">
          <ion-label [color]="formError ? 'danger' : 'dark'" position="floating">Email</ion-label>
          <ion-input debounce="600" type="email" inputmode="email" autofocus="true" formControlName="email">
          </ion-input>
        </ion-item>
      </ion-card>
      <ng-container *ngIf="!resetFormControls.email.valid && !resetFormControls.email.pristine">
        <ion-text *ngIf="resetFormControls.email.errors.required" color="danger"> Email required. </ion-text>
        <ion-text *ngIf="resetFormControls.email.errors.email" color="danger"> Email not Valid. </ion-text>
      </ng-container>

      <ion-button color="success" expand="full" type="submit" [disabled]="!resetForm.valid">Submit Request</ion-button>
    </form>
    <ion-button size="small" color="light" expand="full" fill="clear" type="button" (click)="goToLogin()">
      Back to login?
    </ion-button>
  </ion-card-content>
</ion-card>
