<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button shape="round" class="ion-float-right" size="small" color="primary" (click)="dismissModal()">
      <ion-icon class="expand-icon" color="danger" name="close-sharp"></ion-icon>
    </ion-button>
    <ion-title color="tertiary">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <form #resetform [formGroup]="resetForm" (ngSubmit)="onReset()">
    <ion-list class="ion-no-margin ion-no-padding" lines="none">
      <ion-item-divider  color="medium"> 
        <b>
          Password Reset Request
        </b>
         </ion-item-divider>
      <ion-item  color="medium">
        <ol>
          <li>To request a password reset:</li>
          <li>1. Enter your email address</li>
          <li>2. Press submit</li>
          <li>3. Check your email for for instrctions</li>
        </ol>
      </ion-item>
      <ion-item color="medium" >
        <ion-label [color]="error ? 'danger' : 'light'" position="floating">Email</ion-label>
        <ion-input
          required
          debounce="1000"
          color="primary"
          type="email"
          inputmode="email"
          autocomplete="email"
          formControlName="email"
        >
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="tertiary" expand="full"  type="submit">Submit</ion-button>
  </form>
  <ion-button size="small" color="dark" expand="full" fill="clear" type="button" routerLink="/login">
    <ion-text> Back to login? </ion-text>
  </ion-button>
</ion-content>
