<ion-card class="ion-no-margin" style="height: 100%;">
  <ion-card-header  class="ion-text-center">
    <ion-fab horizontal="end" vertical="top">
      <ion-icon color="warning" size="large" name="close" (click)="dismissModal()"></ion-icon>
    </ion-fab>
    <ion-title color="tertiary">Forgot Password</ion-title>
  </ion-card-header>
  <ion-card-content class="ion-no-margin ion-text-center ion-no-padding">
    <form [formGroup]="resetForm" (ngSubmit)="onReset()">
      <ion-text color="light">
        <b>Steps to complete a password reset request:</b>
      </ion-text>
      <ion-item lines="none" >
        <ion-text color="light">
          <ol>
            <li>Enter your email address</li>
            <li>Submit Request</li>
            <li>Check your email for for instrctions</li>
          </ol>
        </ion-text>
      </ion-item>
      <ion-card>

        <ion-item lines="none" details="false">
          <ion-label [color]="error ? 'danger' : 'dark'" position="floating">Email</ion-label>
          <ion-input
          required
          debounce="1000"
          color="primary"
          type="email"
          inputmode="email"
          autofocus="true"
          autocomplete="email"
          formControlName="email"
          >
        </ion-input>
      </ion-item>
    </ion-card>
    <ng-container *ngIf="resetFormControl.email.invalid && !resetFormControl.email.pristine">
      <ion-text *ngIf="resetFormControl.email.errors.required" color="danger"> Email required. </ion-text>
      <ion-text *ngIf="resetFormControl.email.errors.email" color="danger"> Email not Valid. </ion-text>
    </ng-container>

      <ion-button color="success" expand="full" type="submit"  [disabled]="!resetForm.valid">Submit Request</ion-button>
    </form>
    <ion-button size="small" color="light" expand="full" fill="clear" type="button" (click)="goToLogin()">
      Back to login?
    </ion-button>
  </ion-card-content>
</ion-card>
