<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="medium">
        Review Details
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content full-screen="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        <ion-text>New Review </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="saveOrUpdate()" [formGroup]="reviewForm">
        <ion-item color="light" *ngIf="id">
          <ion-label position="stacked">User</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="user"
            [ngModelOptions]="{ standalone: true }"
            disabled="true"
          ></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="stacked">Problem</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item color="light" lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea rows="5" formControlName="desc"></ion-textarea>
        </ion-item>
        <ion-item lines="none" *appHasPermission="['change-review-status']">
          <ion-label position="stacked">Status</ion-label>
          <ion-segment formControlName="status" mode="ios">
            <ion-segment-button value="0" layout="icon-start">
              <ion-label>Open</ion-label>
              <ion-icon name="radio-button-off"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="1" layout="icon-end">
              <ion-icon color="medium" name="done-all"></ion-icon>
              <ion-label color="medium">Fixed</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <ion-button
          class="ion-padding-horizontal ion-margin-vertical"
          expand="block"
          [disabled]="!reviewForm.valid"
          type="submit"
        >
          <ion-icon name="add-circle-outline" slot="end"></ion-icon>
          <p *ngIf="!id">Create Review</p>
          <p *ngIf="id">Update Review</p>
        </ion-button>
        <ion-button
          class="ion-padding-horizontal ion-margin-vertical"
          expand="block"
          (click)="deleteReview()"
          *appHasPermission="['delete-review']"
        >
          <ion-icon color="danger" name="trash-outline" slot="end"></ion-icon>
          Delete Review
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
