.menu-item {
  border-radius: 10px;
  --background: transparent;
  ion-label {
    font-size: larger;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--ion-color-light);
  }
  display: inline-flex;
}

.menu-item :hover,
ion-label {
  color: var(--ion-color-secondary);
}

.active-link {
  ion-label {
    color: var(--ion-color-secondary);
    border-bottom: 0.2025em solid var(--ion-color-success);
  }
}

.avatar {
  margin-right: 50px;
  margin-top: 5px;
}

.flashing {
  animation: 2s ease-out infinite flasher;
  z-index: 99;
}

@keyframes flasher {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

ion-toolbar {
  border-bottom: 3px solid var(--ion-color-secondary);
  --background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../assets/icons/icon-512x512.png) center/ 50px 50px no-repeat,
    repeating-conic-gradient(
      from 3deg at 50% 50%,
      var(--ion-color-primary-shade),
      var(--ion-color-primary-tint) 2deg 5deg,
      var(--ion-color-dark-tint),
      var(--ion-color-warning-shade) 15deg 18deg,
      var(--ion-color-primary-tint) 20deg
    );
}
