
  .menu-font {
    ion-label {
      font: 800 1.1em/1.4 Montserrat, sans-serif;
      text-transform: uppercase;
      color: var(--ion-color-light-tint);
    }
    padding: 0 1.3125em;
    display: inline-block;
    border-bottom: 0.3125em solid transparent;
  }
  
  .active-link {
    ion-label {
      color: var(--ion-color-tertiary);
      border-bottom: 0.3125em solid var(--ion-color-warning-shade);
    }
  }
  
  .silhouette {
    max-height: 2.75em;
  }
 
  .flashing {
    animation: 2s ease-out infinite flasher;
    z-index: 99;
 
  }
  
  @keyframes flasher {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }