<ion-app>
  <app-side-menu></app-side-menu>
  <ion-header transparent>
    <ion-toolbar #toolbar class="top-toolbar-sm">
      <ion-buttons slot="start">
        <ion-menu-button color="tertiary"> </ion-menu-button>
      </ion-buttons>
      <img src="../assets/icons/icon-512x512.png" slot="start" class="small-logo" routerLink="/home" />
      <ion-item
        class="ion-float-right"
        type="button"
        color="dark"
        (click)="popoverService.presentPopover($event)"
        lines="false"
        *ngIf="authService.user | async as user; else login"
      >
        <ion-avatar slot="end">
          <img [src]="['..//assets//lazy//images//dummy-user.png']" />
        </ion-avatar>
        <ion-icon size="small" slot="end" name="caret-down-sharp"></ion-icon>
      </ion-item>
      <ng-template #login>
        <ion-buttons slot="end">
          <ion-button class="flashing" routerLink="/login" color="warning"> Login </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>

    <ion-toolbar class="top-toolbar-lg" #toolbar>
      <ion-img src="..//assets//icons//icon-512x512.png" slot="start" class="small-logo" routerLink="/home"></ion-img>

      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home/pricing"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Pricing</ion-label>
      </ion-item>

      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home/faqs"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>FAQs</ion-label>
      </ion-item>

      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home/reviews"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Reviews</ion-label>
      </ion-item>

      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home/about-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item
        class="menu-item"
        button
        details="false"
        routerLink="/home/contact-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Contact</ion-label>
      </ion-item>

      <ion-item
        class="ion-float-right"
        type="button"
        (click)="popoverService.presentPopover($event)"
        lines="false"
        *ngIf="authService.user | async as user; else login"
      >
        <ion-avatar slot="end">
          <img [src]="['..//assets//lazy//images//dummy-user.png']" />
        </ion-avatar>
        <ion-icon size="small" slot="end" name="caret-down-sharp"></ion-icon>
      </ion-item>
      <ng-template #login>
        <ion-buttons slot="end">
          <ion-button class="flashing" routerLink="/login" color="warning"> Login </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
</ion-app>
