<ion-app>
  <app-side-menu></app-side-menu>
  <ion-header transparent>
    
    <ion-toolbar color="dark" #toolbar class="ion-hide-lg-up">
      <ion-buttons slot="start">
        <ion-menu-button color="tertiary"> </ion-menu-button>
        <ion-back-button *ngIf="showBackButton === true" defaultHref="/home" color="warning"></ion-back-button>
      </ion-buttons>
      <ion-img src="../assets/icons/icon-144x144.png" slot="start" class="small-logo" routerLink="/home" ></ion-img>
      <ngx-auth-firebaseui-avatar
        class="ion-margin ion-float-right"
        *ngIf="authService.user | async as user; else login"
      ></ngx-auth-firebaseui-avatar>
    </ion-toolbar>

    <ion-toolbar class="ion-hide-lg-down" color="dark" #toolbar>
      <ion-img src="..//assets//icons//icon-144x144.png" slot="start" class="small-logo" routerLink="/home"></ion-img>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Home</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/products"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Products</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        routerLink="/home/faqs"
        color="dark"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>FAQs</ion-label>
      </ion-item>

      <ion-item
        color="dark"
        class="menu-font"
        button
        routerLink="/home/reviews"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Reviews</ion-label>
      </ion-item>

      <ion-item
        color="dark"
        class="menu-font"
        button
        routerLink="/home/about-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item
        class="menu-font"
        color="dark"
        button
        routerLink="/home/contact-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label>Contact</ion-label>
      </ion-item>

      <ngx-auth-firebaseui-avatar
        class="ion-float-right avatar"
        *ngIf="authService.user | async as user; else login"
      ></ngx-auth-firebaseui-avatar>
      <ng-template #login>
        <ion-buttons style="float: right; z-index: 99">
          <ion-button
            [hidden]="router.url === '/login'"
            class="flashing"
            style="margin-right: 12px; margin-top: 10px"
            routerLink="/login"
            color="warning"
          >
            Login
          </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Modal Outlet -->
    <!-- <ion-router-outlet name="modal"></ion-router-outlet> -->
    <!-- Main Outlet -->
    <ion-grid>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-grid>
  </ion-content>
</ion-app>
