<ion-content class="content">
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="8" size-lg="6">
      <ion-card class="ion-card-global ion-no-margin">
        <ion-card-header>
          <ion-card-title> Nutrition Counseling </ion-card-title>
          <ion-card-subtitle>Helathy Food Can be Good Too</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            Having a properly designed nutritional plan is as important as a member's exercise program. Comprehensive
            dietary analysis, metabolic testing and nutritional counseling are all part of the X Fitness Studio training
            system. These services are available as a whole or independently through our registered dietitian. Setup an
            appointment today to get started!
          </p>
          <div class="ion-text-center ion-margin">
            <ion-title color="secondary">Learn more about the X Fitness Studio</ion-title>
            <ion-button routerLink="/facility" color="primary" shape="round">Facility</ion-button>
            <ion-button routerLink="/choices" color="primary" shape="round">Choices</ion-button>
            <ion-button routerLink="/safety" color="primary" shape="round">Safety</ion-button>
            <ion-button routerLink="/about-us" color="primary" shape="round">About Us</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
