
<ion-grid
    style="
      --background: right/cover no-repeat url('../../../assets/images/body.jpg');
    ">
    <ion-row class="ion-margin">
      <ion-col size="auto">
        <ion-card color="light" class="ion-padding ion-text-center">
          <ion-card-header>
            <ion-card-title> Error 404 Not Found </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Oops, it looks like you have reached an <b>unknown</b> state of Zen!
          </ion-card-content>
          <ion-back-button
            defaultHref="/home"
            text="Go Back"
            color="danger"
          ></ion-back-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

