<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center"  style="height: 94vh; background: right/cover no-repeat url('../../../assets/lazy/images/body.jpg')">
      <ion-col class="ion-align-items-center">
        <ion-card color="medium" class=" ion-text-center">
          <ion-card-header>
            <ion-card-title> Error 404 Not Found </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text> Oops, it looks like you have reached an <b>unknown</b> state of Zen! </ion-text>
          </ion-card-content>
          <ion-toolbar class="ion-text-center">
            <ion-buttons>
              <ion-back-button
              text="Back"
              icon="caret-back-outline"
              color="danger"
              defaultHref="/home"
              ></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
