<ion-header>
  <ion-toolbar>
    <ion-title>Customer Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen transparent>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customer Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <!-- Row 0 -->
    <ion-row>
      <!-- Col 0 -->
      <ion-col>
        <ion-card>
          <app-settings></app-settings>

        </ion-card>
      </ion-col>
      <!-- Col 1 -->
      <ion-col>
        <ion-card>


        </ion-card>
      </ion-col>
      <!-- Col 2 -->
      <ion-col>
        <ion-card>


        </ion-card>
      </ion-col>
      <!-- Col 3 -->
      <ion-col>
        <ion-card>


        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Row 1 -->
    <ion-row>
      <!-- Col 0 -->
      <ion-col>
        <ion-card>
          <app-profile></app-profile>

        </ion-card>
      </ion-col>
      <!-- Col 1 -->
      <ion-col>
        <ion-card>


        </ion-card>
      </ion-col>
    </ion-row>
   
    </ion-grid>
