
  <ion-grid>
    <!-- Row 1 -->
    <ion-row>
      <!-- Col 0 -->
      <ion-col>
        <ion-card>

          <app-profile></app-profile>

        </ion-card>
      </ion-col>
      <!-- Row-2 -->
    </ion-row>
    <ion-row>
      <!-- Col 2 -->
      <ion-col>
        <ion-card>

        <app-settings></app-settings>
        
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Row=3 -->
    <ion-row>
      <!-- Col 3 -->
      <ion-col>
        <ion-card>


          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
