<ion-slides #review pager="true" (ionSlidesDidLoad)="slidesDidLoad(review)" [options]="slideOpts">
  <ion-slide  *ngFor="let rating of ratings | async" style="height:200px;">
    <ion-item class="items" lines="none">
      <ion-grid>

        <ion-row >
          <ion-col size="auto">
            <ion-avatar slot="start">
              <img height="80" width="80" src="../../../assets/lazy/images/dummy-user.png" >
            </ion-avatar>
            <ion-text color="primary"> {{ rating.displayName }} </ion-text>
            <br>
            <bar-rating [(rate)]="rating.stars" (hover)="hover($event)" 
            [theme]="'default'" [max]="5" [readOnly]="true"
            ></bar-rating>
          </ion-col>
          <ion-col  class='ion-align-self-center'>
            <ion-text color="warning">
              {{ rating.created_at }}
            </ion-text>
            
            <ion-text>{{ rating.message }}</ion-text>
            
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-slide>
</ion-slides>
