<ion-header translucent>
  <ion-toolbar class="toolbar-global">
    <ion-title>App Design & Engineering by Obliquity</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text>
    <p>
      Expert Fitness App is a progressive web app created for fitness and health
      enthusiast who are interested at reaching and maintaining high levels of
      success within their training regimine. As a progressive web app, Expert
      Fitness App is capable of working on all browsers across most all devices
      including iOS, Android, and Microsoft.
    </p>
    <p>
      This app is a product of Obliquity's developmet team.... We are an
      engineering and consulting firm focused on driving maximum ROI by
      transforming our clients revenue streams, facilitating a clear strategy
      for broadening the scope of revenue streams from your existing customers,
      for instance by providing comprehensive self-service sales and discovery
      automation of sales and discovery for further market penetration.
      streamlined plans and fully tailored applications using a breadth of IT
      knowledge, the latest libraries and web based technologies. The
      Progressive Web Apps designed, developed and delivered by Obliquity.dev
      are cross-platform for maximum enduser reach with capabilities on most any
      device. Our goal remains simple, to cost-effectivly maximize our client's
      effeciencies with a clear plan of action and a measurable suite of key
      performance indicators. At Obliquity.dev, we achieve success when your
      customer's' journeys are on target and Operations is equipped with the
      right tools to become or remain a leader within their respective markets.
    </p>
  </ion-text>
  <ion-button
    class="ion-text-capitalize"
    target="_blank"
    href="https://obliquity.dev"
    color="success"
  >
    Visit Obliquity
  </ion-button>

  <ion-text
    ><p>
      SomeIcons are provided by Tilda Publishing <br />
      <a href="https://tilda.cc">tilda.cc</a>
    </p></ion-text
  >
</ion-content>
