<ion-header>
  <ion-toolbar color="dark">
    <ion-title> About App </ion-title>
    <ion-fab horizontal="end" vertical="top">
      <ion-icon color="warning" size="large" name="close" (click)="dismissModal()"></ion-icon>
    </ion-fab>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text style="font-weight: bold; font-size: large"> Designed and Developed by Obliquity </ion-text>
  <p>
    The X Fitness Studio App is a progressive web app (PWA) created for fitness and health enthusiast who are interested
    at reaching and maintaining higher levels of success within their training regimine. As a PWA, the X Fitness Studio
    App is capable of working on most browsers including Safari, Chrome, Chrome based browsers, Edge, Samsung, and
    others. In addition, the PWA is capable of working on most devices including Apple, Linux, and Windows, which
    includes most operating systems (OS) such as iOS, Android, Windows, and smart TV OSs.
  </p>
  <p>
    This PWA is another fine product from the Obliquity Dev team. Obliquity is a premier web application engineering
    firm focused on delivering cutting-edge web applications which provide measurable results for today's business
    needs.
  </p>
  <ol style="list-style: lower-greek; list-style-position: outside; padding-left: 9px">
    Obliquity is:
    <li>Transforming clients revenue streams by facilitating your strategies and delivering on vision.</li>
    <li>
      Broadening scopes for new revenue streams from your existing customers (i.e. Providing comprehensive self-service
      sales and discovery automation of sales and discovery for further market penetration).
    </li>
    <li>
      Streamlining & automating costly repetitive workflow processes, allowing staff re-focus on quality improvement.
    </li>
    <li>
      Eliminating overpriced, disjointed and overlapping industry specific legacy tools by developing a fully integrated
      tool specific to individual businesses' workflow processes.
    </li>
    <li>
      Utilizing a breadth of IT knowledge, utilizing the latest Javascript and Python libraries, 3rd party APIs, and top
      tier global IaaS platforms for keeping operating costs at a minimum.
    </li>
    <li>
      Delivering a single cross-platform code base that has many native features and works on most devices for maximum
      enduser reach.
    </li>
    <li>
      Offering another approach to reaching your customers with a variety of options for revenue generation, either on
      the App Marketplace Stores or NOT.
    </li>
    <li>
      Listing on App Stores is available but not at all required. Our PWA can be installed on the home screen of any
      device, just like native apps.
    </li>
    <li>
      Evaluating your customer's' journeys to ensure they are on target and Sales percentages are near their maximum.
    </li>
  </ol>

  <div class="ion-text-center">
    <ion-button target="_blank" size="small" href="https://obliquity.dev" color="success"> Visit Obliquity </ion-button>
    <ion-button color="warning" size="small" (click)="dismissModal()"> Close </ion-button>
  </div>

  <hr />
  <a href="https://www.freepik.com/vectors/sports">Sports vector created by freepik - www.freepik.com</a>
</ion-content>
