/**
* Shows how you can use CSS to style your Element's container.
*/
.tech {
  background:rgba(0, 0, 0, 0.85) url(../../../assets/images/bw-girl-pushups.jpg);
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home{
  top: 0.5%;
  left: 0.5%;
  width:80px;
  height: 80px;
  cursor: link;

}

.bottom {
  background: var(--ion-color-secondary);
}
p {
  font-size: small;

}


h3{
color: var(--ion-color-light);
font-weight: 900;
font-size: xx-large;
font-variant: small-caps;
}
h5{
  line-height: 1;
  font-size: x-large;
  font-variant: small-caps;
  font-weight: 900;
  font-stretch:condensed;
}

h6{
  font-size: large;
  margin-bottom: 40px;
  font-weight: 800;

}

.modalcss{
  --background: transparent;
}

inputError{
  font-weight: 800;
  font-variant: small-caps;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 #34073fd0;

  transition: box-shadow 150ms ease;
}



#card-errors {
  text-align: center;
  color: var(--ion-color-danger);
  margin: 10px;
}
.StripeElement--focus {
  box-shadow: 0 1px 5px 0 #9e009e;
}

.StripeElement--invalid {
  border-color: #cf2908;
  color: #7e1500;
}

.StripeElement--webkit-autofill {
  background-color: rgb(143, 110, 110) !important;
}

ul{
  display: block;
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10px;
  padding-left: 10px;
  text-align: center;
  font-variant: small-caps;
}
.cards{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}
