<ion-row>
  <ion-col>
    <h3>
      <i class="material-icons">shopping_basket</i>
      Your Shopping Basket
    </h3>
  </ion-col>
</ion-row>
<br/>
<ion-row>
  <ion-col>
    <ion-text style="font-size: large; font-weight: bold;" color="danger">
      Sub Total ({{itemCount}} items):
      <span>{{(cart | async).grossTotal | currency:'GBP':true}}</span>
    </ion-text>
  </ion-col>
</ion-row>
<br/>
<ion-row>
  <ion-col>
    <ion-button
       [attr.disabled]="itemCount === 0 ? true : null"
       routerLink="/checkout">Proceed To Checkout</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    or
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button type="button" expand="block" color="secondary" size="small"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">
      Empty shopping basket
    </ion-button>
  </ion-col>
</ion-row>
