<ion-card class="ion-text-center shadow benefit-tracker-card" >
    <img [src]="[benefit.image]" style="height: 300px; width:100%;">
    <ion-card-header >
    <ion-card-title  >
        <ion-text style="text-transform: uppercase; color:chartreuse">
          {{ benefit.title }}
          </ion-text>
    </ion-card-title>
</ion-card-header>
<ion-card-content class="ion-text-left benefit-tracker-card-content">
    <ion-text color="light">{{ benefit.content }}</ion-text>
</ion-card-content>
</ion-card>
