<ion-content class="content">
  <!-- <div class="main-content"> -->
  <ion-grid class="ion-no-padding main-content">
    <ion-fab slot="fixed" horizontal="end" vertical="top" edge>
      <ion-fab-button>
        <ion-icon name="cart-sharp" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col size="12">
        <ion-card color="dark" class="toolbar-card ion-text-center">
          <ion-card-header>
            <ion-card-title class="title"> X Fitness Studio Pricing </ion-card-title>
            <ion-card-subtitle class="subtitle">
              <ion-text color="warning"> Select the options that work best for you </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-card class="category-card ion-margin-vertical ion-no-margin">
      <ion-toolbar class="ion-text-center">
        <ion-text class="section-headers"> Body Composition Analysis </ion-text>
      </ion-toolbar>

      <ion-row class="ion-justify-content-around">
        <ion-col
          size-sm="12"
          size-xs="12"
          size-xl="3"
          size-lg="6"
          size-md="8"
          class="product-col ion-align-self-start ion-text-center"
          *ngFor="let product of analysis | async"
        >
          <ion-card class="product-card">
            <ion-card-header class="product-card-header">
              <ion-card-title>
                <ion-text color="warning"> {{ product.name }} </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-img [src]="product.images[0]" class="product-image"></ion-img>
            <ion-card-content class="product-card-content ion-text-center">
              <ion-text> {{ product.description }} </ion-text>

              <ion-item lines="none" class="price-item ion-margin-vertical">
                <ion-label>Price</ion-label>
                <ion-select placeholder="Select" [interfaceOptions]="iOptions" interface="popover">
                  <ion-select-option class="iso" *ngFor="let price of prices | async" [value]="price.unit_amount">
                    {{ price.unit_amount /100 | currency }} {{price.interval}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-button>Add to Cart</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="category-card ion-margin-vertical ion-no-margin">
      <ion-toolbar class="ion-text-center">
        <ion-text class="section-headers"> Fitness Coaching Plans </ion-text>
      </ion-toolbar>

      <ion-row class="ion-justify-content-around category-row">
        <ion-col
          size-sm="12"
          size-xs="12"
          size-xl="3"
          size-lg="6"
          size-md="8"
          class="product-col ion-align-self-start ion-text-center"
          *ngFor="let product of services | async"
        >
          <ion-card class="product-card">
            <ion-card-header class="product-card-header">
              <ion-card-title>
                <ion-label color="warning"> {{ product.name }} </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-img [src]="product.images[0]" class="product-image"></ion-img>
            <ion-card-content class="product-card-content ion-text-center">
              <ion-text> {{ product.description }} </ion-text>

              <ion-item lines="none" class="price-item ion-margin-vertical">
                <ion-label>Price</ion-label>
                <ion-select placeholder="Select" [interfaceOptions]="iOptions" interface="popover">
                  <ion-select-option class="iso" *ngFor="let price of prices | async" [value]="price.unit_amount">
                    {{ price.unit_amount /100 | currency }} {{price.interval}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-button>Add to Cart</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card> -->

    <ion-card class="category-card ion-margin-vertical ion-no-margin">
      <ion-toolbar class="ion-text-center">
        <ion-text class="section-headers"> Fitness Add-Ons </ion-text>
      </ion-toolbar>

      <ion-row class="ion-justify-content-around category-row">
        <ion-col
          size-sm="12"
          size-xs="12"
          size-xl="3"
          size-lg="6"
          size-md="8"
          class="product-col ion-align-self-start ion-text-center"
          *ngFor="let product of products | async"
        >
          <ion-card class="product-card">
            <ion-card-header class="product-card-header">
              <ion-card-title>
                <ion-label color="warning"> {{ product.name }} </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-img [src]="product.images[0]" class="product-image"></ion-img>
            <ion-card-content class="product-card-content ion-text-center">
              <ion-text> {{ product.description }} </ion-text>

              <ion-item lines="none" class="price-item ion-margin-vertical">
                <ion-label>Price</ion-label>
                <ion-select placeholder="Select" *ngFor="let price of prices" [interfaceOptions]="iOptions" interface="popover">
                  <ion-select-option class="iso" [value]="price.unit_amount">
                    {{ price.unit_amount /100 | currency }} {{ price.interval }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-button>Add to Cart</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
