.main-content{
  min-height: 100vh;
  height: fit-content;
  display: grid;
  place-content: center;
  margin-top: 60px;
}

.title {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Trebuchet MS';
  font-weight: 600;
  font-size: large;
  text-transform: capitalize;
  color: var(--ion-color-warning);
}

.toolbar {
  --background: linear-gradient(to right, rgba(0, 29, 173, 0.5), rgba(0, 0, 0, 0.596), rgba(0, 29, 173, 0.5));
  border-radius: 15px;
}

.toolbar-card {
  text-align: center;
  width: fit-content;
  border-radius: 15px;
  display: block;
  margin: 5px auto;
  border: 3px solid var(--ion-color-warning);
}

.product-image{
  max-height: 295px;
  // height: 295px;
  // max-width: 427.25px;
  width: 100%;
  background-color: white;

}

.segment {
  --background-checked: var(--ion-color-success);
  --indicator-color: var(--ion-color-light);
  --indicator-height: 0.25em;
  --color-checked: var(--ion-color-warning);
}

  .product-card {
  border: 3px solid var(--ion-color-warning);
  height: 100%;
  border-radius: 15px;
  background: transparent;
}

.product-card-header {
  // border-bottom: 3px solid var(--ion-color-light);
  border-radius: 15px 15px  0 0;
  --background: linear-gradient(to right, rgba(0, 29, 173, 0.5), rgba(0, 0, 0, 0.596), rgba(0, 29, 173, 0.5)),
    center/cover no-repeat url(./../../assets/lazy/images/banner.png);
}

.product-card-content{
  background: var(--ion-color-dark-tint);
  height: 100%;
  border-radius: 0 0 15px 15px;
}

.price-item{
  border-radius: 10px;
}

.section-headers{
  text-transform: uppercase;
  color: var(--ion-color-secondary-tint);
  font-weight: 800;
  text-align: center;
  font-size: larger;
}

.category-card{
  --background: linear-gradient(to bottom, rgba(32, 32, 32, 0.404),  rgba(25, 20, 43, 0.466));
}
