<ion-header translucent>
  <ion-toolbar class="toolbar-global">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-text>
    <h4>PROFESSIONAL FITNESS TRAINING</h4>
    <p>
      EXPERT FITNESS created Shay Gillham in his vision to to provide fitness
      enthusiasts who wanted to learn more about the potential achievements
      which could be achieved by incorporating a fitness professional in order
      to gain a premium experience. With strong experience in large gyms and
      from his time working in CCU providing cardiac rehab , he was able to
      bring together a solid foundation from which to facilitate guidance to
      others by using the latest fitness technology, and heart healthy nutrition
      concepts which have both continually eveloved. He has focused on providing
      his clients with a core set of values which include consistency, balance,
      and motivation while providing access to many of the latest, best in class
      analysis equipment, and continually evolving workout equipment. Shay also
      has a no-nonsense attitude but that does not mean he doesn't have fun. In
      fact, he continues to be open minded, while remaining results driven at
      all times. His facility will alwasys be clean, sanitized, and ready as
      soon as you walk in the door. Such a clean and positive environment with
      access to the latest techniques and instruction from someone who has truly
      "lived it" his entire life. You will be hard pressed to find an equally
      qualified trainer along with a premier workout facility at such a fair
      price anywhere. Whether you are interested in shedding the pounds or even
      maximizing your existing effort, Shat at EXPERT FITNESS offers a myriad of
      fitness options at great prices in a friendly can do atmosphere.
    </p>
    <p>
      At Expert Fitness our training team is comprised of true career trainers.
      Requirements include an extensive formal education, a nationally
      recognized personal training certification and advanced specialty
      education in the areas of "Scientific Core Conditioning" taught by spine
      rehabilitation specialist Paul Chek and "Optimal Performance Training"
      from the National Academy of Sports Medicine
    </p>
    <h4>NUTRITIONAL COUNSELING</h4>
    <p>
      Having a properly designed nutritional plan is as important as a member's
      exercise program. Comprehensive dietary analysis, metabolic testing and
      nutritional counseling are all part of the Expert Fitness training system.
      These services are available as a whole or independently through our
      registered dietitian. Setup an appointment today to get started!
    </p>

    <h4>BACK PAIN PREVENTION AND POST REHAB EXERCISE PROGRAMING</h4>
    <p>
      If you have ever suffered or is currently expiriencing back pain, you may
      have a postural problem. Our fitness professionals understand the
      functional anatomy of the torso and extremities as they relate to improved
      spinal health. Our fitness professionals are trained in using proper
      exercise technique, proper exercise selection and recognizing the need for
      exercise modification for orthopedic concerns. Effective assessment
      techniques are used for effective program developement. Click here to read
      on exercise and spinal health.
    </p>
  </ion-text>

  <h3>ONLINE PERSONAL TRAINING</h3>
  
  <h4>Basic Online Personal Training Plan</h4>
  <p>
    You can now have your own virtual personal trainer and the guidance and
    accountability you need without being out HUNDREDS of dollars. We provide
    you with our unique software which we use to build your custom workouts,
    nutrition plan, and community for ongoing support. • Online Training
    Platform • Getting Started Right Webinar.  When you
    want to take advantage of one on one time at our personal training facility with a
    trainer, sessions are offered at a discounted rate.
  </p>

  <h4>Premium Online Personal Training Plan</h4>
  <p>
    This Premium online training plan will provide you with our • Online Training
    Platform- Getting Started Right Webinar; you will also receive: • Weekly
    education webinars covering topics from goals setting, maximizing
    metabolism, supercharging your weight loss and more. • In addition you get
    our worksheets with each lesson which will help you apply the information
    faster, maximizing your results.  When you
    want to take advantage of one on one time at our personal training facility with a
    trainer, sessions are offered at a discounted rate.
  </p>

  <h3>Platinum Online Personal Training Plan</h3>
  <p>
    Yet one more expansion providing you with the ultimate accountability and
    guidance without being out of pocket HUNDREDS of dollars. The Platinum online
    training plan will provide you with our • Online Training Platform •
    Getting Started Right Webinar • Weekly education webinars covering topics
    from goals setting, maximizing metabolism, supercharging your weight loss
    and more. • In addition you get our worksheets with each lesson which will
    help you apply the information faster, maximizing your results. • With the
    enhanced program, each week after updating the online progress reports your assigned
    trainer will review your progress and then contact you to provide a weekly progress consultation and answer any questions. When you
    want to take advantage of one on one time at our personal training facility with a
    trainer, sessions are offered at a discounted rate.
  </p>
  </ion-content>

