<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 5 SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <ion-button expand="block" (click)="createDB()">
    Create DataBase
  </ion-button>

  <ion-button expand="block" (click)="createTable()">
    Create Table
  </ion-button>

  <ion-button expand="block" (click)="getRows()">
    Get Rows
  </ion-button>


  <ion-item-divider>
    <ion-input placeholder="Enter Name" [(ngModel)]="name_model"></ion-input>
    <ng-container *ngIf="updateActive; else elseTemplateUpdate">
      <ion-button expand="block" (click)="updateRow()">
        Update Row
      </ion-button>
    </ng-container>
    <ng-template #elseTemplateUpdate>
      <ion-button expand="block" (click)="insertRow()">
        Insert Row
      </ion-button>
    </ng-template>


  </ion-item-divider>



  <ion-grid>
    <ion-row>
      <ion-col>
        Row ID
      </ion-col>
      <ion-col>
        Name
      </ion-col>
      <ion-col>
        Delete
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of row_data">
      <ion-col>
        {{item.pid}}
      </ion-col>
      <ion-col>
        {{item.Name}}
      </ion-col>
      <ion-col>
        <ion-button (click)="deleteRow(item)" size="small" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="enableUpdate(item)" size="small" color="warning">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
