<ion-header>
  <ion-toolbar>
    <ion-title>Expert Fitness Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen transparent>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Expert Fitness Reviews</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button color="warning">
      <ion-icon name="ribbon-sharp" value="default" color="warning"></ion-icon>
      Reviews
    </ion-segment-button>
    <ion-segment-button value="myReviews">
      <ion-icon name="person-sharp" color="warning"></ion-icon>
      My Reviews
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
      <ion-grid *ngSwitchDefault>
      <ion-row>
      <ion-col
        size-sm="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let review of reviews | async"
      >
        <ion-item class="shadow" >
          <ion-row class="ion-align-items-center">
            <ion-col size="4" class="ion-align-self-center">
              <ion-avatar>
                <img [src]="[review.photoURL || '../../../assets/images/dummy-user.png']" />
              </ion-avatar>
              <ion-text color="primary"> {{ review.displayName }} </ion-text>
              <br />
              <bar-rating
                [(rate)]="review.stars"
                (onHover)="hover($event)"
                style="color: var(--ion-color-danger)"
                [theme]="'default'"
                max="5"
                readOnly="true"
              ></bar-rating>
            </ion-col>

            <ion-col size="8" class="ion-align-self-center">
              <ion-text color="warning">{{ review.created_at }}</ion-text>
              <p>{{ review.message }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>  
      </ion-grid>

  
      <ion-grid  *ngSwitchCase="myReviews">
      <ion-row>
        <ion-col
          size-sm="12"
          size-md="6"
          size-lg="4"
          size-xl="3"
          class="ion-align-self-center ion-margin"
          *ngFor="let myReview of myReviews | async"
        >
          <ion-item class="shadow" style="--inner-padding-top: 8px">
            <ion-row class="ion-align-items-center">
              <ion-col size="4" class="ion-align-self-center">
                <ion-avatar>
                  <img [src]="[myReview.photoURL || '../../../assets/images/dummy-user.png']" />
                </ion-avatar>
                <ion-text color="primary"> {{ myReview.displayName }} </ion-text>
                <br />
                <bar-rating
                  [(rate)]="myReview.stars"
                  (hover)="hover($event)"
                  [theme]="'default'"
                  max="5"
                  readOnly="true"
                ></bar-rating>
              </ion-col>
              <ion-col size="8" class="ion-align-self-center">
                <p>{{ myReview.message }}</p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>
        <!-- <ion-row >
        <ion-col >
          <ion-card>
            <ion-header>
              <ion-title> Login to create reviews and view your existing reviews </ion-title>
            </ion-header>
            <ion-card-content>
              <ion-button routerLink="login"> Login </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
  <app-footer></app-footer>
</ion-content>
