
  <ion-card
    class="ion-padding ion-text-center"
    class="ion-card-global"
    style="margin: auto; top: 10vh; max-width: 500px"
  >
    <ion-card-header>
      <ion-card-title>

      </ion-card-title>
      <ion-card-subtitle>

      </ion-card-subtitle>
    </ion-card-header>
        <h3>Thank You!</h3>

        <div *ngIf="user | async">
          <p class="text-center">
            Your email,
            <strong>{{user.email}}</strong>
            , has been verified. Also, depending on your screen's dimensions,
            the navigation menus are either at top of this page for tv's,
            desktops & tablets; yet for movile devices, click
            <ion-icon name="menu-outline"></ion-icon> in the top left corner of
            the screen.
          </p>

          <h3>Didn't receive an email?</h3>
          <p class="text-center">
            If for some reason you keep arriving back at this page, please check
            your email and click on the link in the body of the email to verfiy
            your account. If you have not receieved an email, please click the
            button below to have the email sent again. Thank you.
          </p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <!-- <div class="formGroup"> -->
          <ion-button
            class="ion-text-capitalize"
            type="button"
            (click)="authService.sendVerificationMail()"
          >
            <ion-icon name="return-sharp"></ion-icon>
            Resend Verification Email
          </ion-button>
        <!-- </div>
      </div> -->

      <!-- <div class="redirectToSignIn"> -->
        <ion-button fill="clear" class="redirect" routerLink="/get-started">
            > 
            <ion-text color="light">Go back to?</ion-text>
            <ion-text color="warning">Sign In</ion-text>
          </ion-button
        >
      <!-- </div> -->
    <!-- </div> -->
  </ion-card>
