<ion-content class="content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="shadow ion-card-global ion-no-margin">
          <ion-card-header>
            <ion-card-title> Rehabilitation </ion-card-title>
            <ion-card-subtitle> Injury prevention & post-rehab</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              If you have ever suffered or is currently expiriencing back pain, you may have a postural problem. Our
              fitness professionals understand the functional anatomy of the torso and extremities as they relate to
              improved spinal health. Our fitness professionals are trained in using proper exercise technique, proper
              exercise selection and recognizing the need for exercise modification for orthopedic concerns. Effective
              assessment techniques are used for effective program developement. Click here to read on exercise and
              spinal health.
            </p>
            <div class="ion-text-center ion-margin">
              <ion-title color="secondary">Learn more about the Xpert Fitness</ion-title>
              <ion-button routerLink="/facility" color="primary" shape="round">Facility</ion-button>
              <ion-button routerLink="/choices" color="primary" shape="round">Choices</ion-button>
              <ion-button routerLink="/about-us" color="primary" shape="round">About Us</ion-button>
              <ion-button routerLink="/nutrition" color="primary" shape="round">Nutrition</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
