<!-- <ion-toolbar class="toolbar" style="min-height: 300px;"> -->
  <ion-grid style="height:100%; width: 100%;">
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="4" class="ion-align-self-center" >
        <div style="display: block; margin: auto;" >
          <img src="../../../assets/lazy/images/logo.png" style="max-height: 150px;" />
        </div>
      </ion-col>
      <ion-col size-md="8" class="ion-align-items-center">
        <!-- <div style="display: block; margin: auto;" > -->
          <app-ratings style="display: block; margin: auto; width:85%;" routerLink="/home/reviews"></app-ratings>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- </ion-toolbar> -->
