  <ion-grid >
    <ion-row class="ion-justify-content-around">
      <ion-col size-md="4" class="ion-align-self-center ion-text-center" >
        <div>
          <img src="../../../assets/lazy/images/logo.png" style="max-height: 150px;" />
        </div>
      </ion-col>
      <ion-col size-md="6" class="ion-align-items-center ion-text-center">
        <div >
          <app-ratings style="width:55%;" routerLink="/home/reviews"></app-ratings>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
