.title{
  font-family: 'Trebuchet MS';
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
}

.subtitle{
  font-family: 'Trebuchet MS';
  font-weight: 600;
  font-size: large;
  text-transform: capitalize;
  color: var(--ion-color-warning);
}

.toolbar{
--background: linear-gradient(to right, rgba(0, 29, 173, 0.5), rgba(0, 0, 0, 0.596), rgba(0, 29, 173, 0.5));
border-radius: 15px;
}
.toolbar-card{
text-align: center; 
width: fit-content;
border-radius: 15px;
display: block;
margin: 5px auto;
border: 3px solid var(--ion-color-warning);
}

.segment{
--background-checked: var(--ion-color-success);
--indicator-color: var(--ion-color-light);
--indicator-height: .25em;
--color-checked: var(--ion-color-warning);
}
.product-col{
border: 3px solid var(--ion-color-warning);
border-radius: 15px;
height: fit-content;
}

.product-card{
height: 350px;
border-radius: 15px;
--background-color: var(--ion-color-medium);
--background-image: url(../../../assets/icons/icon-192x192.png) center/ cover no-repeat; 
}

.product-card-header{
border-bottom: 3px solid var(--ion-color-light);
border-radius: 10px 10px 0 0;
--background: linear-gradient(to right, rgba(0, 29, 173, 0.5), rgba(0, 0, 0, 0.596), rgba(0, 29, 173, 0.5)), url(../../../assets/lazy/images/banner.png) center/ cover no-repeat; 
}

.product-button{
// position: absolute;
// bottom: 0;
}

