.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // font-weight: 600;
    font-style: 2.5em;
    text-transform: uppercase;
    // --color: var(--ion-color-tertiary);
}

.subTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // font-weight: 600;
    font-style: 2.5em;
    text-transform: capitalize;
    // color: var(--ion-color-success);
}

.segment{
  --background-checked: var(--ion-color-success);
  --indicator-color: var(--ion-color-success);
  --indicator-height: .25em;
}
