.title{
  background: url(../../../assets/lazy/images/weight-lifting-man.jpg);
  ion-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-style: 2.5em;
    text-transform: uppercase;
  }
}
