<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="dark" class="toolbar-card ion-text-center">
          <ion-card-header>
            <ion-card-title class="title"> Expert Fitness Pricing </ion-card-title>
            <ion-card-subtitle class="subtitle">
              <ion-text color="warning"> Select the options that work best for you </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-toolbar class="toolbar ion-text-center">
              <ion-segment mode="md" [(ngModel)]="segment" color="warning" swipeGesture="">
                <ion-segment-button class="segment" mode="md" value="default">
                  <ion-icon name="ribbon-sharp" color="secondary"></ion-icon>
                  <ion-text color="light"> Memberships</ion-text>
                </ion-segment-button>
                <ion-segment-button class="segment" mode="md" value="addOns" layout="" type="">
                  <ion-icon name="person-sharp" color="secondary"></ion-icon>
                  <ion-text color="light">Add-ons</ion-text>
                </ion-segment-button>
              </ion-segment>
            </ion-toolbar>
            <br />
            <ion-text color="success">
              Subscriptions are typical but you can also purchase individual services
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size-xl="3"
        size-lg="6"
        size-md="8"
        class="product-col ion-margin ion-align-items-stretch ion-text-center"
        *ngFor="let product of products | async"
      >
        <ion-card color="dark" class="product-card ion-no-margin">
          <ion-card-header class="product-card-header">
            <ion-card-title>
              <ion-label color="warning"> {{ product.name }} </ion-label>
            </ion-card-title>
          </ion-card-header>
          <img [src]="product.images[0]" style="height: 200px; width: 100%" />
          <ion-card-content class="ion-padding ion-text-center">
            <!-- <ion-text *ngFor="let price of prices | async"> {{ price.interval }} }} </ion-text> -->
            <ion-text>
              {{ product.description }}
            </ion-text>
            <app-stripe-checkout [product]="product"></app-stripe-checkout>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
