<ion-content transparent>
  <!-- Row 0 -->
  <ion-row>
    <!-- Col 0 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
    <!-- Col 1 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
    <!-- Col 2 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
    <!-- Col 3 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
  </ion-row>
  <!-- Row 1 -->
  <ion-row>
    <!-- Col 0 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
    <!-- Col 1 -->
    <ion-col>
      <ion-card> </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
