ion-toolbar {
  background: linear-gradient(to right, rgba(36, 36, 36, 0.76), rgba(36, 36, 36, 0.938), rgba(36, 36, 36, 0.767)),
    center/contain no-repeat url(../../../assets/icons/icon-512x512.png);
  background-color: var(--ion-color-medium);
  color: rgb(0, 216, 245);
  border-bottom: 3px solid var(--ion-color-secondary-shade);
  color: var(--ion-color-tertiary-tint);
}
