
<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="12" size-md="8" size-lg="6">
      <ion-card class="ion-card-global ion-no-margin">
        <ion-card-header>
          <ion-card-title> Training Sessions & Training Plans </ion-card-title>
          <ion-card-subtitle>Private, Semi-private & Home </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            The Expert Fitness gym is always clean, sanitized, and ready as soon as you walk in the door. You will be hard
            pressed to find an equally qualified trainer along with a premier workout facility at such a fair price
            anywhere. Whether you are interested in shedding the pounds or even maximizing your fitness potential, Expert
            Fitness has the expertise, equipment, and tools necessary to achieve most any goal with a myriad of fitness
            options to choose from. The expertise and results you can achieve at Expert Fitness are hands down some of the
            best available today, offered to you at no-nonsense prices provided by a motivational staff in a clean,
            sanitized & welcoming atmosphere.
          </p>
          <p>Our team of professional personal trainers is comprised of fitness & nutritional focused career trainers.</p>
          <b>Requirements include:</b>
          <p>Formal education in exercise science <b>(or)</b> commensurate experience</p>
          <p>Nationally recognized personal training certification</p>
          <p>Scientific Core Conditioning - Paul Chek, spine rehabilitation specialist</p>
          <p>Optimal Performance Training - National Academy of Sports Medicine</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
