<ion-grid>
  <ion-row class="ion-justify-content-between ion-padding">
    <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="10" class="ion-align-items-start ion-padding">
      <ion-card color="light" class="schedule-card shadow">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" color="primary" name="trophy-outline"></ion-icon>
            <hr />
            <ion-text color="primary"> Surpass your expectations </ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-text color="dark"> Motivation, real-time reporting & consultative feedback </ion-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-item detail="true" button color="danger" fill="outline" strong routerLink="/home/about-us">
          <ion-text color="dark"> Learn More </ion-text>
        </ion-item>
      </ion-card>
    </ion-col>

    <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="10" class="ion-align-items-end ion-padding">
      <ion-card color="light" class="schedule-card shadow">
        <ion-card-header>
          <ion-card-title>
            <ion-icon size="large" color="primary" name="barbell-outline"></ion-icon>
            <hr />
            <ion-text color="primary"> Options to suite all needs </ion-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-text color="dark"> Private, semi-private & home sessions available <br /> </ion-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-item detail="true" button color="danger" fill="outline" strong routerLink="/home/about-us">
          <ion-text color="dark"> Learn More </ion-text>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-card class="ion-text-center ion-padding ion-margin-vertical" style="display:block;width:fit-content;margin:auto; background: var(--ion-color-primary-tint); border: 3px solid var(--ion-color-danger-tint);border-radius: 60px;">
        <ion-card-header>
      <ion-card-title>
        <ion-text color="light"> 
        Expert Fitness App
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="tertiary" strong class="cta" style="border-radius: 5px" routerLink="/home/products">
        Become a Member
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
<ion-row class="ion-justify-content-between ion-padding">
  <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="10" class="ion-padding ion-align-self-start ion-padding">
    <ion-card color="light" class="schedule-card shadow">
      <ion-card-header>
        <ion-card-title>
          <ion-icon size="large" color="primary" name="expand-outline"></ion-icon>
          <hr />
          <ion-text color="primary"> New dimensions in Fitness</ion-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text color="dark"> Establish a progressive maintenance routine to keep forever </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-item detail="true" button color="danger" fill="outline" strong routerLink="/home/about-us">
        <ion-text color="dark"> Learn More </ion-text>
      </ion-item>
    </ion-card>
  </ion-col>

  <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="10" class="ion-align-self-end ion-padding">
    <ion-card color="light" class="schedule-card shadow">
      <ion-card-header>
        <ion-card-title>
          <ion-icon size="large" color="primary" name="medkit-outline"></ion-icon>
          <hr />
          <ion-text color="primary">Reduce chance of injury </ion-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text color="dark"> Prevent injuries with safe balanced techniques </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-item detail="true" button color="danger" fill="outline" strong routerLink="/home/about-us">
        <ion-text color="dark"> Learn More </ion-text>
      </ion-item>
    </ion-card>
  </ion-col>
  <ion-fab horizontal="center" vertical="bottom">
    <ion-fab-button class="bounceOutDown" color="warning" href="home#pageTwo">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-row>
</ion-grid>
