<ion-header transparent>
  <ion-toolbar class="toolbar-global">
    <ion-title>Account Registration</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

        <form #registerForm [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
          <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Full Name</ion-label>
              <ion-input
                color="primary"
                type="text"
                inputmode="text"
                autocomplete="name"
                formControlName="displayName"
                autocapitalize="words"
              >
              </ion-input>
            </ion-item>
            <div
              *ngIf="
                registerFormControl.displayName.invalid &&
                !registerFormControl.displayName.pristine
              "
            >
              <ion-text
                *ngIf="registerFormControl.displayName.errors.required"
                color="danger"
              >
                Name required.
              </ion-text>
              <ion-text
                *ngIf="registerFormControl.displayName.errors.maxlength"
                color="danger"
              >
                Must be no more than 25 characters.
              </ion-text>
            </div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                color="primary"
                type="email"
                inputmode="email"
                formControlName="email"
                autocomplete="email"
              >
              </ion-input>
            </ion-item>
            <div
              *ngIf="
                registerFormControl.email.invalid &&
                !registerFormControl.email.pristine
              "
            >
              <ion-text
                *ngIf="registerFormControl.email.errors.required"
                color="danger"
              >
                Email required.
              </ion-text>
              <ion-text
                *ngIf="registerFormControl.email.errors.email"
                color="danger"
              >
                Email not valid.
              </ion-text>
            </div>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                color="primary"
                [type]="hide ? 'password' : 'text'"
                inputmode="text"
                formControlName="password"
              >
              </ion-input>
              <ion-icon
                color="dark"
                size="small"
                (click)="toggleHide()"
                slot="end"
                *ngIf="!hide"
                name="eye-sharp"
              >
              </ion-icon>
              <ion-icon
                color="dark"
                size="small"
                (click)="toggleHide()"
                slot="end"
                *ngIf="hide"
                name="eye-off-sharp"
              >
              </ion-icon>
            </ion-item>
            <div
              *ngIf="
                registerFormControl.password.invalid &&
                !registerFormControl.password.pristine
              "
            >
              <ion-text
                *ngIf="registerFormControl.password.errors.required"
                color="danger"
              >
                Password required.
              </ion-text>
              <ion-text
                *ngIf="registerFormControl.password.errors.minlength"
                color="danger"
              >
                Must be 6 characters or more.
              </ion-text>
              <ion-text
                *ngIf="registerFormControl.password.errors.maxlength"
                color="danger"
              >
                Must be less than 25 characters.
              </ion-text>
              <ion-text
                *ngIf="registerFormControl.password.errors.pattern"
                color="danger"
              >
                At least 1 uppercase, 1 lowercase and 1 number required.
              </ion-text>
            </div>
          </ion-list>
          <ion-button
            type="submit"
            color="tertiary"
            expand="block"
            [disabled]="registerForm.invalid"
          >
            <ion-icon
              size="small"
              slot="start"
              name="person-add-sharp"
            ></ion-icon>
            <ion-text> Register </ion-text>
          </ion-button>
          <ion-button
            type="button"
            expand="block"
            color="google"
            (click)="authService.GoogleAuth()"
          >
            <ion-icon size=" small" slot="start" name="logo-google">
            </ion-icon>
            Register with Google
          </ion-button>
          <ion-button
            (click)="authService.GoogleAuth()"
            expand="block"
            color="twitter"
          >
            <ion-icon
              size="small"
              slot="start"
              name="logo-twitter"
            ></ion-icon>
            Register with Twitter
          </ion-button>
          <hr />
          <ion-button
            color="dark"
            expand="block"
            fill="clear"
            type="button"
            routerLink="/sign-in"
          >
            <ion-icon
              size="small"
              name="arrow-back"
              slot="start"
              type="button"
            ></ion-icon>
            <ion-text>
              Go Back to Login
            </ion-text>
          </ion-button>
        </form>
</ion-content>
