.segment-container {
  margin-top: 10px;
  --background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.527)),
    repeating-conic-gradient(
      from 3deg at 50% 100%,
      var(--ion-color-primary-shade),
      var(--ion-color-primary-tint) 2deg 5deg,
      var(--ion-color-primary-shade),
      var(--ion-color-primary-tint) 15deg 18deg,
      var(--ion-color-primary-tint) 20deg
    );
}

ng-scrollbar {
  --scrollbar-border-radius: 7px;
  --scrollbar-padding: 4px;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(66, 57, 104, 0.486);
  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
  --scrollbar-size: 5px;
  --scrollbar-hover-size: var(--scrollbar-size);
}

.segment {
  color: var(--ion-color-light);
}

.segment:hover ion-label {
  color: var(--ion-color-secondary-shade);
}
