/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/normalize.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

// bootstrap
@import '~bootstrap/scss/bootstrap';

// Classes
ion-content {
  --background: var(--ion-color-light-shade);
}

// [ion-fixed] {
//   min-height: calc(100% - 88px); // adjust to your footer height!
// }

a:hover {
  cursor: pointer;
}

.small-logo {
  max-width: 35px;
  margin-right: 30px;
  margin-left: 20px;
}

.full-logo {
  max-width: 160px;
  margin-left: 20px;
}

// Font color on Form Validators
.ion-invalid .ion-touched ion-label {
  color: var(--ion-color-danger);
}




// Lists
.list-header-global {
  --background: var(--ion-color-medium-shade);
  color: var(--ion-color-secondary-shade);
  text-transform: uppercase;
  text-align: left;
}
ion-toolbar{
  --background: var(--ion-color-secondary-tint);
  color: var(--ion-color-primary);
  border-bottom: 3px solid var(--ion-color-secondary-shade);
}

// Cards
ion-card {
  border-radius: 10px;
}

.ion-card-global {
  border: 3px solid var(--ion-color-secondary-tint);
  --background: var(--ion-color-light-tint);
  ion-card-header {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 3px solid var(--ion-color-secondary-tint);
    --background: var(--ion-color-secondary-shade);
    ion-card-title {
      color: var(--ion-color-primary-tint);
      font-weight: 600;
    }
    ion-card-subtitle {
      color: var(--ion-color-success-tint);
      font-size: larger;
      font-weight: 600;
    }
  }
  ion-card-content {
    padding-top: 20px;
    color: black;
    text-align: left;
  }
}

.ion-sub-card-global {
  ion-card-header {
    --background: var(--ion-color-light-shade);
    text-transform: capitalize;
    ion-card-title {
      color: var(--ion-color-secondary-shade);
    }
    ion-card-subtitle {
      color: var(--ion-color-light-shade);
      
    }
  }
  ion-card-content {
    color: black;
    // padding-top: 20px;
  }
}

// card-items
.items{
  background-color:white;
  border-radius: 5px;
  // box-shadow:
  // 0 100px 80px rgba(255, 255, 255, 0.12)
  // 0 41.8px 33.4px rgba(255, 255, 255, 0.086),
  // 0 22.3px 17.9px rgba(255, 255, 255, 0.072),
  // 0 12.5px 10px rgba(255, 255, 255, 0.06),
  // 0 6.7px 5.3px rgba(255, 255, 255, 0.048),
  // 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
}
.items-shadow{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

// Modals
.modal-css {
  --backdrop-opacity: 88% !important;
  padding: 0px;
  margin: 0px;
  --border-radius: 12px;
  width: min-content;
  height: max-content;
}

.video-css .modal-wrapper {
  --border-radius: 12px;
  --backdrop-opacity: 88%;
  width: min-content;
  height: min-content;
}

// Toasts and Alerts
.successA {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-success-shade);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 6px;
  --color: black;
}

.warningA {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-warning-shade);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 6px;
  --color: black;
}

.dangerA {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-danger-shade);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 6px;
  --color: black;
}

.infoA {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-primary-shade);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 6px;
  --color: black;
}
