/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// NGX-Share
@import '~ngx-sharebuttons/themes/material/material-dark-theme';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@700&family=Montserrat:wght@800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

// Classes
ion-col{
  border: 2px solid green;
}

a:hover {
  cursor: pointer;
}

.small-logo {
  width: 7.5em;
  margin: 15px 10px 10px 25px;
}
// Account for Header on each page
ion-grid{
    padding-top: 85px;
}

ion-card{
    border-radius: 12px;
}

// Font color on Form Validators
.ion-invalid .ion-touched ion-label {
  color: var(--ion-color-danger);
}

// Lists
.list-header-global {
  font: 900 Montserrat;
  --background: var(--ion-color-light-shade);
  color: var(--ion-color-secondary-shade);
  text-transform: uppercase;
}

// Cards
.ion-card-global {
  text-align: center;
  --background: var(--ion-color-light-shade);  
  ion-card-header{
  --background: var(--ion-color-primary);
  }

  ion-card-title {
    font: 900 Montserrat;
  text-transform: capitalize;
    color: var(--ion-color-light);
  }

  ion-card-subtitle {
    color: var(--ion-color-warning-shade);
    font-weight: 700;
  }

  ion-card-content {
      color: black;
    padding-top: 15px;
    text-align: left;
    font-weight: 900;
  }

}

.ion-sub-card-global{
  --background: var(--ion-color-medium-tint);  
  ion-card-header{
  --background: var(--ion-color-secondary-tint);
  }
  ion-card-title {
    font: 900 Montserrat;
//   text-transform: capitalize;
    color: var(--ion-color-warning-tint);
  }
  ion-card-subtitle {
    color: var(--ion-color-medium-tint);
    font-weight: 700;
  }
  ion-card-content {
      color: black;
    padding-top: 12px;
    font-weight: 700;
  }
}


// Toolbars
.toolbar-global {
  font: 900 Montserrat;
  text-transform: uppercase;
  text-align: center;
  --min-height: 5em;
  --background: var(--ion-color-primary);
}


// Modals
.modal-css {
  --border: 3px solid var(--ion-color-warning);
  --border-radius: 12px;
  --backdrop-opacity: 30% !important;
}
.video-css {
    z-index: 99;
    max-height: 355px;
    max-width: 600px;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
  --border: 3px solid var(--ion-color-warning);
  --border-radius: 12px;
  --backdrop-opacity: 80% !important;
}

.user-popover {
  text-align: left;
}

// Toasts and Alerts
.successA {
  --background-color: var(--ion-color-medium-shade);
  --border-color: var(--ion-color-success-tint);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

.warningA {
  --background-color: var(--ion-color-medium-shade);
  --border-color: var(--ion-color-warning-tint);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

.dangerA{
  --background-color: var(--ion-color-medium-shade); 
  --border-color: var(--ion-color-danger-tint);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

.infoA{
  --background-color: var(--ion-color-medium-shade);
  --border-color: var(--ion-color-danger-secondary-tint);
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15), 0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}
