.scene-one {
	height: 94vh;
	width: 100vw;
	background-color: var(--ion-color-medium);
	background: linear-gradient(
			to bottom left,
			rgba(0, 0, 0, 0.342) 15%,
			rgba(15, 0, 71, 0.274) 50%,
			rgba(0, 0, 0, 0.247) 85%
		),
		linear-gradient(
			to right,
			rgba(92, 0, 8, 0.35) 0%,
			rgba(17, 0, 2, 0.45) 50%,
			rgba(83, 0, 7, 0.35) 100%
		),
		url(../../assets/images/fitness-balancing.jpg) bottom/ cover no-repeat;
	
}


.main-title{
	font: normal normal 800 24px/2 sans-serif;
}
.main-subtitle{
	font: normal normal 800 20px sans-serif;
}
sup {
	font: small-caps normal 800 18px sans-serif;
	color: var(--ion-color-secondary);	
	text-shadow: 1px 1px 2px black;
}

.main-heading-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
	padding: 12px;
  width: fit-content;
	background: var(--ion-color-dark-tint);
	border: 4px solid var(--ion-color-secondary);
}

.cta{
  margin: 15px;
}






.pulsing {
	animation: 3s ease-out infinite pulsar;
	z-index: 99;
  display:block;
  margin-left:auto;
  margin-right: auto;
}

@keyframes pulsar {
	0% {
		opacity: 100%;
	}
	50% {
		transform: scale(0.8, 0.8);
		opacity: 30%;
	}
	100% {
		transform: scale(1, 1);
		opacity: 100%;
	}
}


