
.active-bottom-menu{
  ion-label{
      color: var(--ion-color-tertiary-tint);
  }
}

.location-card{
  background: var(--ion-color-light-shade);

}

.center-fit{
  width: fit-content;
  display:block;
  margin: auto;
}

// Footer
.footer {
  position: absolute;
  background-color: var(--ion-color-dark);
  width: 100vw;
}

.bottom{
  position: absolute;
  bottom: 5px;
}
