
.active-bottom-menu{
  ion-label{
      color: var(--ion-color-tertiary-tint);
  }
}

.location-card{
  --background: var(--ion-color-light-shade);
  border-radius: 15px;
  width: 100%
}

// .center-fit{
//   display:block;
//   margin: auto;
// }

// Footer
.footer {
  padding:  5px;
  position: relative;
  background-color: var(--ion-color-dark);
  // width: 100vw;
}

// .bottom{
//   position: relative;
//   bottom: 5px;
// }
