<!-- Footer -->
<ion-grid class="footer">

  <ion-row class="ion-padding-bottom ion-margin-bottom">
    <!-- Footer 1st COl -->
    
    <!-- Footer  col -->
    <ion-col
    size-sm="12"
    size-md="6"
      push-md="4"
      size-lg="4"
      push-lg="3"
			class="ion-padding"
      >

      <app-ratings *ngIf="chooser === 'ratings'"></app-ratings>
          <app-benefits *ngIf="chooser === 'benefits'"></app-benefits>
         
     
        </ion-col>
    <!-- Footer  Col -->
    <ion-col
    size-sm="6"
    push-sm="4"
    size-md="4"
    push-md="4"
    size-lg="3"
      push-lg="4"
			class="ion-padding"
		>
		<ion-row class="ion-align-items-start" >
      <ion-col>				
        <ion-card class="ion-text-center location-card" routerLink="/contact-us"
        >
					<ion-card-header class="location-card-header">
						<ion-card-title color="primary">
              <img
              src="../../../assets/icons/icon-144x144.png"
              style="max-height: 38px"
							/>
							Expert Fitness Gym
						</ion-card-title>
					</ion-card-header>
					<ion-card-content class="ion-text-center">
            <ion-item lines="none" detail="false">
							<ion-label style="font-weight: bold">
								<p>3000 N. Garfield Street Suite 159</p>
								<p>Midland TX 79705</p>
							</ion-label>
						</ion-item>
						<ion-chip color="light" href="tel://432-684-0844">
							<ion-icon  name="call-sharp"></ion-icon>
							<ion-label color="primary"> (432) 684-0844 </ion-label>
						</ion-chip>
						
						<ion-chip color="light" routerLink="/contact-us">
							<ion-icon  name="mail-sharp"></ion-icon>
							<ion-label color="primary"> Contact Us </ion-label>
						</ion-chip>
					</ion-card-content>
				</ion-card>
			</ion-col>
			</ion-row>
			<ion-row class="ion-align-items-end">
				<ion-col class="ion-text-center">
          <div style="display: block;">
						<ion-button fill="clear" color="tertiary" routerLink="/privacy">
							Privacy
						</ion-button>
						<ion-button fill="clear" color="tertiary" routerLink="/terms">
              Terms
            </ion-button>
            <ion-button fill="clear" color="tertiary" routerLink="/about-app">
              About App
            </ion-button>
					</div>
        </ion-col>
      </ion-row>
						
    </ion-col>
					
    <ion-col 
    size-sm="7" 
    pull-sm="5" 
    size-md="6" 
    pull-md="3" 
    size-lg="3" 
    pull-lg="7" >
      <ion-row class="ion-align-items-end">
        <ion-col >
          <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/home"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-label>Home</ion-label>
          </ion-item>
          <!-- Unsignedin Menu -->
          <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/products"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Products</ion-label>
          </ion-item>
          <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/faqs"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-label>FAQs</ion-label>
          </ion-item>
          <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/testimonials"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          <ion-label>Testimonials</ion-label>
          </ion-item>
          <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/about-us"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>About</ion-label>
          </ion-item>
          <ion-item
          detail="false"
            button
            color="dark"
            routerLink="/contact-us"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Contact</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <div *ngIf="authService.afAuth.user | async">
            <!-- SignedIn Menu -->
            <ion-item
              detail="false"
              button
              color="dark"
              routerLink="/customers/dashboard"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Dashboard</ion-label>
            </ion-item>
            <ion-item
              detail="false"
              button
              color="dark"
              routerLink="/customers/workouts"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Workouts</ion-label>
            </ion-item>
            <ion-item
              detail="false"
              button
              color="dark"
              routerLink="/customers/nutrition"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Nutrition</ion-label>
            </ion-item>
            <ion-item
              detail="false"
              button
              color="dark"
              routerLink="/customers/videos"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Videos</ion-label>
            </ion-item>
            <ion-item
            detail="false"
              button
              color="dark"
              routerLink="/customers/messages"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
              >
              <ion-label>Messages</ion-label>
            </ion-item>
            <ion-item
            detail="false"
            button
            color="dark"
            routerLink="/customers/settings"
            routerLinkActive="active-bottom-menu"
            [routerLinkActiveOptions]="{ exact: true }"
            >
            <ion-label>Settings</ion-label>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <!-- Brand and Copy 1st COl -->
      <ion-row class="ion-align-items-end">
        <ion-col class="ion-padding">
          <!-- <div> -->
            <img src="../../../assets/logos/logo.png" class="full-logo"/>
						<br />
						<ion-text color="light">
              <small>
                &#9426;{{ yearDate | date: 'yyyy' }} www.expertfitness.com
							</small>
						</ion-text>
            <!-- </div> -->
					</ion-col>
				</ion-row>
      </ion-col>

      
    </ion-row>
    
  </ion-grid>