<ion-content class="content">
  <ion-row class="ion-justify-content-center ion-text-center">
    <ion-col size-sm="12" size-md="8" size-lg="6">
      <ion-card class="shadow ion-card-global ion-no-margin">
        <ion-card-header>
          <ion-card-title> Personal Training Platform </ion-card-title>
          <ion-card-subtitle> Online & Offline </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            You can now have your own virtual personal training management and analysis platform available at your
            fingertips, wherever you may be in the world. Get the guidance and accountability you need without the
            restraint of a single workout location. With three tiers avaialble to meet anyone's needs, the plans
            include:
          </p>
          <b>The Express Fitness App</b>
          <p>
            Our unique cutting edge platform works on any device and provides access to build and update custom
            workouts, a nutrition plan, schedule sessions, create target alerts and training reminders, review graphical
            reports showcasing your progress, interface with most fitness tracking devices and platforms, and stay in
            touch with a community for ongoing collaboration.
          </p>
          <b>Getting Started Right Webinar</b>
          <p>Get the facts right from the start so you can hit the ground running, literally.</p>
          <b>Discounted Sessions</b>
          <p>
            When you are ready to take advantage of additional semi-private or one-on-one sessions with a trainer at our
            personal training facility or your home, select sessions are offered at a discounted rate.
          </p>
          <div class="ion-text-center ion-margin">
            <ion-title color="secondary">Learn more about the Xpert Fitness</ion-title>
            <ion-button routerLink="/facility" color="primary" shape="round">Facility</ion-button>
            <ion-button routerLink="/about-us" color="primary" shape="round">About Us</ion-button>
            <ion-button routerLink="/safety" color="primary" shape="round">Safety</ion-button>
            <ion-button routerLink="/nutrition" color="primary" shape="round">Nutrition</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
