<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen transparent>
		<ion-row class="ion-justify-content-center">
			<ion-col size-lg="8" size-md="8" size-sm="12" size-xs="12">
	<ion-card color="dark" class="ion-text-center ion-no-margin">
		<ion-card-header>
			<ion-card-title color="warning">
				Map of Expert Fitness
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			
					<div #mapCanvas class="map-canvas"></div>
				</ion-card-content>
			</ion-card>
				</ion-col>
				<ion-col size-lg="4" size-md="4" class="ion-hide-md-down">
					<ion-card>
						<ion-img src="../../../assets/images/squatting-exercise.jpg"></ion-img>
					</ion-card>
				</ion-col>
			</ion-row>

					<app-footer>
					</app-footer>

</ion-content>
