.map-canvas {
  position: relative;

  height:86vh;

  background-color: grey;
  
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: .65;
  background: darkslategray;
  color:black;
}

ion-toolbar{
  --background: var(--ion-color-dark-tint);
  border-bottom: 3px solid var(--ion-color-secondary-shade);
  color:var(--ion-color-tertiary-tint);
}
