.map-canvas {
  position: relative;

  height:80vh;

  background-color: grey;
  
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: .65;
  background: darkslategray;
  color:black;
}




// .map-card{
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
// }
