

  <!-- <ion-grid>
    <ion-row>
      <ion-col> -->
        <div #mapCanvas class="map-canvas"></div>

      <!-- </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="8"> -->
          <ion-card color="primary" class="ion-text-center map-card">
            <ion-card-header color="primary">
              <ion-card-title>
                <img
                  src="../../../assets/icons/icon-144x144.png"
                  style="max-height: 38px"
                />
                Expert Fitness Gym
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-text style="font-weight: bold">
                <p>3000 N. Garfield Street Suite 159</p>
                <p>Midland TX 79705</p>
              </ion-text>
              <ion-chip color="light" href="tel://432-684-0844">
                <ion-icon color="warning" name="call-sharp"></ion-icon>
                <ion-label> (432) 684-0844 </ion-label>
              </ion-chip>

              <ion-chip color="light" routerLink="/contact">
                <ion-icon color="warning" name="mail-sharp"></ion-icon>
                <ion-label> Contact Us </ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        <!-- </ion-col>

      <ion-col>


      </ion-col>
    </ion-row>

  </ion-grid> -->
