.map-canvas {
  position: relative;

  height:80vh;
  width: 100%;

  background-color: grey;

  opacity: 1;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}

// .map-card{
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
// }