<ion-grid>
  <ion-row class="ion-text-center">
    <ion-col>
      <!-- <ion-title> -->
      <ion-text class="ion-text-uppercase" style="font-size: x-large" color="warning"> Xpert Fitness Gym </ion-text>
      <!-- </ion-title> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="padding-left: 25%">
      <ion-label color="light">
        3000 North Garfield Street
        <br />
        Suite 159
        <br />
        Midland TX 79705
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-chip size="small" color="warning" href="tel://432-684-0844">
        <ion-icon name="call-sharp"></ion-icon>
        <ion-label color="secondary"> (432) 684-0844 </ion-label>
      </ion-chip>
      <ion-chip color="warning" routerLink="/email">
        <ion-icon name="mail-sharp"></ion-icon>
        <ion-label color="secondary"> info@xfitness.studio </ion-label>
      </ion-chip>
      <ion-chip color="warning" (click)="showMapModal()">
        <ion-icon name="map-sharp"></ion-icon>
        <ion-label color="secondary"> View Map </ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
