<ion-card class="location-card ion-text-center" routerLink="/home/contact-us">
  <ion-card-header>
    <ion-card-title color="primary"> Expert Fitness Gym </ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-item lines="none" detail="false">
      <ion-text>
        3000 North Garfield Street
        <br />
        Suite 159
        <br />
        Midland TX 79705
      </ion-text>
    </ion-item>
    <ion-chip size="small" color="danger" href="tel://432-684-0844">
      <ion-icon name="call-sharp"></ion-icon>
      <ion-label color="primary"> (432) 684-0844 </ion-label>
    </ion-chip>
    <ion-chip color="danger" routerLink="/home/contact-us">
      <ion-icon name="mail-sharp"></ion-icon>
      <ion-label color="primary"> Contact </ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
