.side-content-back{
  background-color: var(--ion-color-medium);
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.45) 15%,
      rgba(71, 0, 0, 0.55) 50%,
      rgba(0, 0, 0, 0.45) 85%
    ),
    linear-gradient(
      to right,
      rgba(92, 0, 8, 0.35) 0%,
      rgba(17, 0, 2, 0.45) 50%,
      rgba(83, 0, 7, 0.35) 100%
    ),
}

.under-menu {
  position: absolute;
  text-align: center;
  bottom: 5em;
}
.first-row {
  position: relative;
  padding-left: 3.5em;
}

.under-button {
  padding-left: 3.5em;
  position: relative;
}
.bottom-toolbar {
  position: absolute;
  bottom: 0px;
}

.showModalContact::active {
  border-left: 0.625em solid var(--ion-color-tertiary);
}

.active-item {
  border-left: 0.625em solid var(--ion-color-warning-shade);
  //   background: rgba(var(--ion-color-warning-rgb) 0.4);
}

ion-item {
  border-left: 0.625em solid var(--ion-color-medium);
}

.side-menu-font {
  // text-decoration: none;
  // font: normal 800 1em sans-serif !important;
  color: var(--ion-color-dark-shade);
  font-size: x-large;
  font-weight: 900;
  text-transform: capitalize;
  font-variant: small-caps;
}
.sales{
  border:  2px solid var(--ion-color-success);
}
