<ion-menu contentId="main-content" type="overlay">
  <ion-header translucent>
    <ion-menu-toggle>
      <ion-toolbar class="toolbar-global">
        <ion-buttons slot="start">
          <ion-menu-button color="tertiary"></ion-menu-button>
          <img src="../assets/logos/logo.png" class="small-logo" />
        </ion-buttons>
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-header>
  <ion-content color="medium" fullscreen>
    <ion-list class="ion-no-padding" lines="none">
      <ion-list-header class="list-header-global ion-text-center"
        >Menu</ion-list-header
      >
      <ion-menu-toggle>
        <!-- Menu options -->
        <ion-item
          color="medium"
          button
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="home-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">Home</ion-label>
        </ion-item>
        <!-- SignedIn Menu Items -->
        <ng-component *ngIf="authService.user$ | async as user">
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/dashboard"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="speedometer-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Dashboard</ion-label>
          </ion-item>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/workouts"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="fitness-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Workouts</ion-label>
          </ion-item>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/nutrition"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="nutrition-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Nutrition</ion-label>
          </ion-item>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/videos"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="videocam-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Videos</ion-label>
          </ion-item>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/messages"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="send-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Messages</ion-label>
          </ion-item>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/customers/settings"
          >
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="cog-sharp"
            ></ion-icon>
            <ion-label class="side-menu-font">Settings</ion-label>
          </ion-item>
        </ng-component>
        <!-- Menu Options for nonusers -->
        <ion-item
          color="medium"
          button
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/products"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="body-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">Products</ion-label>
        </ion-item>
        <ion-item
          color="medium"
          button
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/faqs"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="help-circle-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">FAQs</ion-label>
        </ion-item>
        <ion-item
          color="medium"
          button
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/testimonials"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="ribbon-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">Testimonials</ion-label>
        </ion-item>
        <ion-item
          color="medium"
          button
          routerLink="/contact"
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
          class="contact-modal-button"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="mail-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">Contact</ion-label>
        </ion-item>
        <ion-item
          color="medium"
          button
          routerLink="/about-us"
          routerLinkActive="active-item"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ion-icon
            color="secondary"
            size="small"
            slot="start"
            name="business-sharp"
          ></ion-icon>
          <ion-label class="side-menu-font">About Us</ion-label>
        </ion-item>
        <!-- authentication area of menu -->
        <ion-list-header class="list-header-global">
          Authentication
        </ion-list-header>
        <ng-component *ngIf="authService.user$ | async as user; else nouser">
          <ion-item color="medium" button (click)="authService.SignOut()">
            <ion-label color="danger" class="side-menu-font">
              Sign Out
            </ion-label>
            <ion-icon
              color="secondary"
              size="small"
              slot="start"
              name="log-out"
              slot="start"
              color="danger"
            ></ion-icon>
          </ion-item>
        </ng-component>
        <ng-template #nouser>
          <ion-item
            color="medium"
            button
            routerLinkActive="active-item"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="showModalGetStarted()"
          >
            <ion-icon
              color="secondary"
              color="success"
              size="small"
              slot="start"
              name="rocket"
            ></ion-icon>
            <ion-label class="sales side-menu-font">Get Started</ion-label>
          </ion-item>
        </ng-template>
      </ion-menu-toggle>
    </ion-list>
    <!-- Below menu -->
    <div class="under-menu">
      <div class="first-row">
        <ion-button color="primary" fill="clear" (click)="showModalPrivacy()">
          Privacy
        </ion-button>
        <ion-button color="primary" fill="clear" (click)="showModalTerms()">
          Terms
        </ion-button>
      </div>
      <ion-button
        class="under-button"
        fill="clear"
        color="primary"
        (click)="showModalAbout()"
      >
        About App
      </ion-button>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="toolbar-global">
      <ion-text color="tertiary">
        <small>
          &#9426;{{ yearDate | date: "yyyy" }} www.expertfitness.com
        </small>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
